<div class="app-content-inner" ng-controller="RestaurantReservationController">
  <div class="box">
    <div class="col-md-9">
      <div class="box b-r">
        <div class="p p-v-sm b-b">
          <button type="button" class="btn btn-default" ng-model="channel_id" data-html="1" data-toggle="true" bs-options="channel.channel_id as channel.channel_name for channel in thisChannel" bs-select placeholder="<i class='icon fa fa-building text-lt'></i> 选择店面"  ng-change="changeChannel(channel_id)">
                  Action <span class="caret"></span>
          </button>
          <div class="btn-group pull-right"><button type="button" class="btn btn-xs btn-default">营业日 {{getBusinessDay()}}</button></div>
          
        </div>
        <div class="box-row">
          <div class="box-cell">
            <div class="box-inner">
              <!-- detail -->
              <div class="b-b tab-container p-v-xs">
                <ul class="nav nav-tabs p-h" ui-nav ng-init="activeTab=1">
                    <li ng-class="{active:activeTab==1}" ng-click="activeTab=1">
                        <a>桌态</a>
                    </li>
                    <li ng-class="{active:activeTab==2}" ng-click="activeTab=2">
                        <a>外卖</a>
                    </li>
                    <li ng-class="{active:activeTab==3}" ng-click="activeTab=3;getDiningCuisine();">
                        <a>菜品</a>
                    </li>
                    <li ng-class="{active:activeTab==4}" ng-click="activeTab=4;">
                        <a>订单</a>
                    </li>
					<!--<li class="pull-right">
						<div class="btn-group m-r-xs" ng-init="activeBookAccountsEditTab=1">
							<label class="btn btn-rounded btn-default btn-sm"><i class="ti-check-box"></i> 开台</label>
							<label class="btn btn-rounded btn-default btn-sm"><i class="fas fa-columns"></i> 预订</label>
						</div>
					</li>-->             
				  </ul>
                 <div class="tab-content text-nowrap"><!--<img class="img-responsive w-thumb-xs" ng-src="{{_resource}}images/room.png">-->
                    <div ng-show="activeTab==1">
                        <div class="form-group clearfix">
							<div class="btn-group" ng-model="activeAtaTab" bs-radio-group ng-init="activeAtaTab=1">
							  <label class="btn btn-default">
								<input type="radio" class="btn btbtn-default" value="1">堂食
							  </label>
							  <label class="btn btn-default">
								<input type="radio" class="btn btn-default" value="2">预订
							  </label>
							  <label class="btn btn-default">
								<input type="radio" class="btn btn-default" value="3">排号
							  </label>
							</div>
							<div class="p-v-xs" ng-show="activeAtaTab==1">
								<div class="form-group clearfix">
									<div class="buliding m-b" ng-repeat="(buliding_key, buliding) in roomList">
										<div class="m-b-xs"><i class="fa fa-building text-xs"> {{buliding_key}}楼栋</i></div>
										<div class="floor clearfix" ng-repeat="(floor_key, floor) in buliding">
											<span class="badge badge-xs bg-success pos-rlt m-r-xs">{{floor_key}}楼层</span>
											<div class="list-group no-radius">
												<div class="list-group-item col-sm-2 col-xs-6 no-padding" ng-repeat="(i, room) in floor">
												  <div class="clear p-xs">
													<div><i class="fa fa-clipboard"></i> {{room.item_name}}
														<small class="pull-right" ng-click="diningTable('open', room)"><a class="ti-check-box"></a></small>
													</div>
												  </div>
													<button type="button" class="btn btn-default no-border no-margin p-xs w-full" data-animation="am-flip-x" data-template-url="/app/manage_room.html" data-placement="bottom-right" bs-dropdown="dropdown" ng-click="setRoomStatus(room)">
													<span class="pull-left text-muted"><i class="fas fa-hamburger" aria-hidden="true"></i>
														<span class="small" data-title="订单：{{bookRoomStatus[room.item_id].booking_number}}<br>预抵：{{bookRoomStatus[room.item_id].check_in}}　　<br>预离：{{bookRoomStatus[room.item_id].check_out}}　　" data-placement="right" data-animation="am-flip-x" data-html="true" bs-tooltip="tooltip" ng-if="roomLiveIn[room.item_id]">
															<span ng-repeat="(live_id, liveIn) in roomLiveIn[room.item_id]">{{liveIn.member_name}} </span>
														</span>
													</span>
													<span class="pull-right text-muted"><i class="fas fa-caret-square-down"></i></span></button>
												</div>
											</div> 
										</div>
									</div>
								</div>
                            </div>
                            <div class="p-v-xs" ng-show="activeAtaTab==2">
                               <div class="table-responsive">
								<table class="table table-bordered table-striped bg-white table-hover">
								  <thead>
									<tr>
								      <th>订单号</th>
									  <th translate="module.channel.market_name">客源市场</th>
									  <th>房型</th>
                                      <th>价格类型</th>
									  <th>房号</th>
									  <th>预订人</th>
									  <th>电话/email</th>
									  <th>预抵</th>
									  <th>预离</th>
									  <th></th>
									</tr>
								  </thead>
								  <tbody><!-- bookingDetail -->
									<tr ng-repeat="(item_id, detail) in check_outRoom">
								      <td>{{detail.booking_number}}</td>
									  <td class="text-nowrap">
										  <span ng-if="detail.receivable_id==0">{{detail.market_name}}</span>
										  <span ng-if="detail.receivable_id>0">{{detail.receivable_name}}</span>
									  </td>
									  <td><span>{{detail.item_category_name}}</span></td>
                                      <td><span>{{detail.price_system_name}}</span></td>
									  <td>{{detail.item_name==''?'未排房':detail.item_name}}</td>
									  <td>{{bookList[detail.booking_number].member_name}}</td>
									  <td>{{bookList[detail.booking_number].member_mobile==''?bookList[detail.booking_number].member_email:bookList[detail.booking_number].member_mobile}}</td>
									  <td>{{detail.check_in | limitTo:10}}</td>
									  <td>{{detail.check_out | limitTo:10}}</td>
									  <td>
                                          <a class="btn btn-xs btn-rounded btn-stroke btn-primary" ng-click="editRoomBook(detail, 1)">
                                            <span>离店</span>
                                          </a>
                                      </td>
									</tr>
								  </tbody>
								</table>
							  </div>
				            </div>
                            <div class="p-v-xs form-inline" ng-show="activeAtaTab==3">
                                
				            </div>
						</div>
                    </div>
                    <div ng-show="activeTab==2">
                        
                    </div>
                    <div ng-show="activeTab==3" class="clearfix">
						<div st-table="cuisineList" st-safe-src="rowCuisineList" class="form-group">
							<div class="form-inline">
								<div class="input-group col-sm-5 col-xs-12 m-t-xs m-b-xs">
								  <span class="input-group-addon no-radius">搜索</span>
								  <input st-search="cuisine_name" class="form-control w" name="cuisine_name" id="cuisine_name" type="text" ng-model="cuisine_name" >
								  <span class="input-group-addon no-radius no-padding no-border"></span>
								  <select class="form-control w" st-input-event="change" st-search="cuisine_category_id">
									  <option value="">全部类别　</option>
									  <option value="1">早餐</option>
									  <option value="{{i}}" ng-repeat="(i, category) in cuisineCategory">{{category.cuisine_name}}</option>
								  </select>
								</div>
							</div>
							<div class="list-group no-radius">
								<div class="list-group-item col-sm-2 col-xs-6" ng-repeat="(i, cuisine) in cuisineList">
								  <a href class="pull-left w-thumb m-r-xs"><img src="{{cuisine.image_src}}" class="img-circle img-responsive"></a>
								  <div class="clear"><div>{{cuisine.cuisine_name}}</div>
								  <small>￥{{cuisine.cuisine_price}}</small>
								  <span class="pull-right"><a class="text-warning" ng-click="diningTable('cuisine', room);addBookCuisine(cuisine, 0)"><i class="glyphicon glyphicon-plus-sign"></i></a></span></div>
								</div>
							</div>  
						</div>
                    </div>
                    <div ng-show="activeTab==4">
                        <div class="m-b">
							<form name="bookingRoomForm" class="form-inline" role="form" ng-submit="searchBooking(param)">
							<label class="control-label m-b"><i class="fas fa-clock"></i> </label>
							<select class="form-control" ng-model="param.condition_date">
							  <option value="">选择日期</option>
							  <option value="check_in">预抵日期</option>
							  <option value="actual_check_in">入住日期</option>
							</select>
							<input type="text" size="9" class="form-control w-thumb-lg" ng-model="param.search_date" data-date-format="yyyy-MM-dd" data-date-type="number"  data-autoclose="true"  data-min-date="02/10/86" data-autoclose="1" bs-datepicker>
							<select class="form-control" ng-model="param.condition_key">
							  <option value="">选择条件</option>
							  <option value="booking_number">订单号</option>
							  <option value="member_mobile">移动电话</option>
							  <option value="member_email">Email</option>
							  <option value="member_name">预订人</option>
							</select>
							<div class="input-group">
								<input type="text" size="9" class="form-control w-thumb-lg" ng-model="param.search_value">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Go!</button>
								</span>
							</div>
							</form>
						</div>
						<div class="table-responsive">
						<table class="table table-bordered table-striped bg-white table-hover">
						  <thead>
							<tr>
							  <th>订单号</th>
							  <th translate="module.channel.market_name">客源市场</th>
							  <th>房型</th>
							  <th>价格类型</th>
							  <th>房号</th>
							  <th>预订人</th>
							  <th>电话/email</th>
							  <th>预抵</th>
							  <th>预离</th>
							  <th></th>
							</tr>
						  </thead>
						  <tbody><!-- bookingDetail -->
							<tr ng-repeat="(detail_id, detail) in bookingSearchList">
							  <td>{{detail.booking_number}}</td>
							  <td class="text-nowrap">
								  <span ng-if="detail.receivable_id==0">{{detail.market_name}}</span>
								  <span ng-if="detail.receivable_id>0">{{detail.receivable_name}}</span>
							  </td>
							  <td><span>{{detail.item_category_name}}</span></td>
							  <td><span>{{detail.price_system_name}}</span></td>
							  <td>{{detail.item_name==''?'未排房':detail.item_name}}</td>
							  <td>{{bookList[detail.booking_number].member_name}}</td>
							  <td>{{bookList[detail.booking_number].member_mobile==''?bookList[detail.booking_number].member_email:bookList[detail.booking_number].member_mobile}}</td>
							  <td>{{detail.check_in | limitTo:10}}</td>
							  <td>{{detail.check_out | limitTo:10}}</td>
							  <td>
								  <a class="btn btn-xs btn-rounded btn-stroke btn-primary" ng-click="editRoomBook(detail, 1)">
									<span>查看</span>
								  </a>
							  </td>
							</tr>
						  </tbody>
						</table>
					  </div>
                    </div>
                 </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="p p-v-sm b-b">
          <script type="text/ng-template" id="filter">
            <ul tabindex="-1" class="dropdown-menu" role="menu">
              <li><a >Read</a></li>
              <li><a >Unread</a></li>
            </ul>
          </script>
          <a href class="pull-right text-muted"><i class="fa fa-trash"></i></a>
          <a href class="btn btn-default btn-xs text-muted" bs-dropdown="dropdown" data-animation="am-flip-x" data-template-url="filter">
            Filter <span class="caret"></span>
          </a>
        </div>
        <!-- use box row -->
        <div class="box-row">
          <div class="box-cell scrollable hover">
            <div class="box-inner">
              <!-- mail list -->
              <div class="list-group list-group-md no-border no-radius no-margin">
                
              </div>
              <!-- / mail list -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="/app/book_message.html">
<div class="list-group-item">
  <a href class="w-thumb-md pull-left m-r"><img src="/data/images/userimg/user_m.png" class="img-responsive"></a>
  <div class="clear m-b-sm">
    <span class="pull-right text-muted text-xs">
      12:30 PM
      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
    </span>
    <div>David M.</div>
    <a href class="text-md text-ellipsis">Easy Angular development with Yeoman</a>
  </div>
  <small class="text-muted">One of the best things to happen in web development over the past few years has been the variety of tools</small>
</div>
<div class="list-group-item select">
  <a href class="w-thumb-md pull-left m-r"><img src="images/a1.jpg" class="img-responsive"></a>
  <div class="clear m-b-sm">
    <span class="pull-right text-muted text-xs">
      10:34 PM 
      <i class="fa fa-paperclip m-l-sm"></i>
      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
    </span>
    <div>Eric Dane</div>
    <a href class="text-md text-ellipsis">This is a short and opinionated review of the AngularJS</a>
  </div>
  <small class="text-muted">AngularJS is what HTML would have been, designed for building web-apps.</small>
</div>
<div class="list-group-item">
  <a href class="w-thumb-md pull-left m-r"><img src="images/a2.jpg" class="img-responsive"></a>
  <div class="clear m-b-sm">
    <span class="pull-right text-muted text-xs">
      9:34 PM 
      <i class="fa fa-paperclip m-l-sm"></i>
      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
    </span>
    <div>Ryan Gosling</div>
    <a href class="text-md text-ellipsis">Correct the known issue</a>
  </div>
  <small class="text-muted">This is a known issue. Please set the correct node write permissions with sudo</small>
</div>
<div class="list-group-item">
  <a href class="w-thumb-md pull-left m-r"><img src="images/a4.jpg" class="img-responsive"></a>
  <div class="clear m-b-sm">
    <span class="pull-right text-muted text-xs">
      July 9
      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
    </span>
    <div>Richard Hammond</div>
    <a href class="text-md text-ellipsis">Angular bootstrap</a>
  </div>
  <small class="text-muted">Native AngularJS (Angular) directives for Bootstrap. Small footprint</small>
</div>
<div class="list-group-item">
  <a href class="w-thumb-md pull-left m-r"><img src="images/a5.jpg" class="img-responsive"></a>
  <div class="clear m-b-sm">
    <span class="pull-right text-muted text-xs">
      March 10
      <i class="fa fa-paperclip m-l-sm"></i>
      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
    </span>
    <div>Ossily</div>
    <a href class="text-md text-ellipsis">Building an Angular App: Bootstrapping</a>
  </div>
  <small class="text-muted">Using angular.bootstrap to Initialize Your App</small>
</div>
<div class="list-group-item">
  <a href class="w-thumb-md pull-left m-r"><img src="images/a6.jpg" class="img-responsive"></a>
  <div class="clear m-b-sm">
    <span class="pull-right text-muted text-xs">
      Feb 8
      <i class="fa fa-paperclip m-l-sm"></i>
      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
    </span>
    <div>Patrick</div>
    <a href class="text-md text-ellipsis">AngularJS Documentation for bootstrap</a>
  </div>
  <small class="text-muted">Place ng-app to the root of your application</small>
</div>
</script><!-- /app/book_message.html -->
<script type="text/ng-template" id="/app/manage_room.html">
<ul class="dropdown-menu">
  <li><a style="display:inline;" ng-click="diningTable('open', room)"><i class="ti-check-box"></i> 开台</a>
      <a style="display:inline;" ng-click="diningTable('book', room)"><i class="fas fa-columns small"></i> 预订</a></li>
  <li class="divider"></li>
  <li><a style="display:inline;" ng-click="diningTable('cuisine', room)"><i class="fas fa-pizza-slice"></i> +-菜</a>
      <a style="display:inline;" ng-click="diningTable('account', room)"><i class="fas fa-credit-card small"></i> 结账</a></li>
  <li class="divider" style="height:0;"></li>
  <li><a style="display:inline;" ng-click="diningTable('lock', room)"><i class="fas fa-lock"></i> 锁台</a>
      <a style="display:inline;" ng-click="diningTable('unlock', room)"><i class="fas fa-lock-open"></i> 解锁</a></li>
</ul>
</script><!-- /app/manage_room.html -->
