<span ng-include="'/resource/views/Common/nav.tpl.html'"></span>
<div class="app-content-inner" style="top:128px;" ng-controller="RoomStatusController">
  <div class="box">
    <div class="col-md-10">
      <div class="box b-r">
        <div class="p p-v-sm b-b">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-xs btn-default"><i class="fa fa-fw fa-angle-left"></i></button>
            <button type="button" class="btn btn-xs btn-default"><i class="fa fa-fw fa-angle-right"></i></button>
          </div>
          <button type="button" class="btn btn-default icon fa fa-building text-lt" ng-model="param.channel_id" data-html="1" data-toggle="true" bs-options="channel.channel_id as channel.channel_name for channel in thisChannel" bs-select placeholder="{{defaultHotel}}" ng-change="selectChannel(param.channel_id)">
              Action <span class="caret"></span>
          </button>
          <div class="btn-group m-l">
            <span class="btn btn-xs btn-rounded bg-info">空净</span>
            <span class="btn btn-xs bg-inverse">住净</span>
            <span class="btn btn-xs bg-danger">住脏</span>
            <span class="btn btn-xs bg-warning">维修</span>
            <span class="btn btn-xs btn-rounded bg-dark">空脏</span>
          </div>
        </div>
        <div class="box-row">
          <div class="box-cell">
            <div class="box-inner">
              <!-- detail -->
              <div class="p b-b tab-container ">
                <ul class="nav nav-sm nav-tabs" ui-nav ng-init="activeTab=1">
                    <li ng-class="{active:activeTab==1}" ng-click="activeTab=1">
                        <a>{{_self_module.module_name}}</a>
                    </li>
                    <li ng-class="{active:activeTab==2}" ng-click="activeTab=2">
                        <a>订单&#8226;预抵<b class="badge bg-info badge-xs m-l-xs" ng-bind-html="bookAta">0</b></a>
                    </li>
                    <li ng-class="{active:activeTab==3}" ng-click="activeTab=3">
                        <a>当日夜审</a>
                    </li>
                    <li ng-class="{active:activeTab==4}" ng-click="activeTab=4;getRoomItem()">
                        <a>远期房态</a>
                    </li>
                 </ul>
                 <div class="tab-content"><!--<img class="img-responsive w-thumb-xs" ng-src="{{_resource}}images/room.png">-->
                    <div ng-show="activeTab==1">
                        <div class="form-group clearfix">
                            <div class="buliding m-b" ng-repeat="(buliding_key, buliding) in roomList">
                                <div class="m-b-xs"><i class="fa fa-building text-xs"> {{buliding_key}}楼栋</i></div>
                                <div class="floor clearfix" ng-repeat="(floor_key, floor) in buliding">
                                    <span class="badge badge-xs bg-success pos-rlt m-r-xs">{{floor_key}}楼层</span>
                                    <div class="list-group no-radius">
                                        <div class="list-group-item col-sm-2 no-padding m-r-xs" ng-repeat="(i, room) in floor">
                                          <!--<span class="pull-left w-thumb-xs m-r b-b-2x"><i class="ui-icon ti-user {{bookRoomStatus[room.item_id].className}}"></i></span>-->
                                          <div class="clear p-xs">
                                            <span class="font-bold block">{{layoutList[layoutRoom[room.item_id].category_item_id].item_name}}</span>
                                            <div>{{room.item_name}}
                                                <label class="pull-right" ng-bind-html="bookRoomStatus[room.item_id].roomStatus" ng-click="roomStatusBook(bookRoomStatus[room.item_id])"></label>
                                            </div>
                                          </div>
                                            <button type="button" class="btn btn-default no-border no-margin p-xs w-full m-t-n" data-animation="am-flip-x" data-template-url="/app/manage_room.html" data-placement="right" bs-dropdown="dropdown" ng-click="setRoomStatus(room)">
                                            <span class="pull-left text-muted" title=""><i class="fa fa-address-card" aria-hidden="true"></i>
                                                <span ng-repeat="(i, liveIn) in roomLiveIn[room.item_id]" data-title="预抵: {{bookingDetailRoom[liveIn.booking_detail_id].check_in|limitTo:10}} <br>预离: {{bookingDetailRoom[liveIn.booking_detail_id].check_out|limitTo:10}}" data-placement="bottom" data-animation="am-flip-x" data-html="true" bs-tooltip="tooltip">{{liveIn.member_name}}</span>
                                            </span>
                                            <span class="pull-right text-muted"><i class="fas fa-caret-square-down"></i></span></button>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="activeTab==2">
                        <div class="form-group m-h-n clearfix">
                            <ul class="nav nav-tabs" ng-init="activeAtaTab=1">
                                <li ng-class="{active:activeAtaTab==0}"><a>　</a></li>
                                <li ng-class="{active:activeAtaTab==1}" ng-click="activeAtaTab=1">
                                    <a>今日预抵</a>
                                </li>
                                <li ng-class="{active:activeAtaTab==2}" ng-click="activeAtaTab=2">
                                    <a>今日预离 <span class="badge badge-xs" ng-bind="dueOut">0</span></a>
                                </li>
                                <li ng-class="{active:activeAtaTab==3}" ng-click="activeAtaTab=3">
                                    <a>所有订单</a>
                                </li>
                            </ul>
							<div class="p-md" ng-show="activeAtaTab==1">
							  <div class="table-responsive">
								<div class="form-inline form-group">
								<table class="table table-bordered table-striped bg-white table-hover">
								  <thead>
									<tr>
									  <th translate="module.channel.market_name">客源市场</th>
									  <th>房型</th>
                                      <th>价格类型</th>
									  <th>房号</th>
									  <th>预订人</th>
									  <th>电话/email</th>
									  <th>预抵</th>
									  <th>预离</th>
									  <th></th>
									</tr>
								  </thead>
								  <tbody><!-- bookingDetail -->
									<tr ng-repeat="(i, detail) in bookingDetailRoom" ng-if="detail.booking_detail_status==0">
									  <td class="text-nowrap">{{detail.market_name}}</td>
									  <td><span>{{detail.item_category_name}}</span></td>
                                      <td><span>{{detail.price_system_name}}</span></td>
									  <td>{{detail.item_name==''?'未排房':detail.item_name}}</td>
									  <td>{{bookList[detail.booking_number].member_name}}</td>
									  <td>{{bookList[detail.booking_number].member_mobile==''?bookList[detail.booking_number].member_email:bookList[detail.booking_number].member_mobile}}</td>
									  <td>{{detail.check_in | limitTo:10}}</td>
									  <td>{{detail.check_out | limitTo:10}}</td>
									  <td>
                                          <a class="btn btn-xs btn-rounded btn-stroke btn-primary" ng-click="editRoomBook(detail, 1)">
                                            <span>{{detail.item_name==''?'排房':'入住'}}</span>
                                          </a>
                                      </td>
									</tr>
								  </tbody>
								</table>
							    </div>
							  </div>
                            </div>
                            <div class="p-md" ng-show="activeAtaTab==2">
                               <div class="table-responsive">
								<div class="form-inline form-group">
								<table class="table table-bordered table-striped bg-white table-hover">
								  <thead>
									<tr>
									  <th translate="module.channel.market_name">客源市场</th>
									  <th>房型</th>
                                      <th>价格类型</th>
									  <th>房号</th>
									  <th>预订人</th>
									  <th>电话/email</th>
									  <th>预抵</th>
									  <th>预离</th>
									  <th></th>
									</tr>
								  </thead>
								  <tbody><!-- bookingDetail -->
									<tr ng-repeat="(i, detail) in bookingDetailRoom" ng-if="detail.booking_detail_status!=0">
									  <td class="text-nowrap">{{detail.market_name}}</td>
									  <td><span>{{detail.item_category_name}}</span></td>
                                      <td><span>{{detail.price_system_name}}</span></td>
									  <td>{{detail.item_name==''?'未排房':detail.item_name}}</td>
									  <td>{{bookList[detail.booking_number].member_name}}</td>
									  <td>{{bookList[detail.booking_number].member_mobile==''?bookList[detail.booking_number].member_email:bookList[detail.booking_number].member_mobile}}</td>
									  <td>{{detail.check_in | limitTo:10}}</td>
									  <td>{{detail.check_out | limitTo:10}}</td>
									  <td>
                                          <a class="btn btn-xs btn-rounded btn-stroke btn-primary" ng-click="editRoomBook(detail, 1)">
                                            <span>离店</span>
                                          </a>
                                      </td>
									</tr>
								  </tbody>
								</table>
							    </div>
							  </div>
				            </div>
                            <div class="p-md" ng-show="activeAtaTab==3">
                               <label class="control-label m-b"><i class="fa fa-clock-o"></i> 预抵日期</label>
                                <div class="input-group">
                                    <input type="text" size="9" class="form-control check_in w-thumb-lg" ng-model="check_in_date" data-date-format="yyyy-MM-dd" data-date-type="number"  data-autoclose="true"  data-min-date="02/10/86" data-autoclose="1" name="check_in_date" bs-datepicker>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
				            </div>
						</div>
                    </div>
                    <div ng-show="activeTab==3">
                        <div class="form-group m-h-n clearfix">
							<div class="p-md">
							  <div class="table-responsive">
								<table class="table bg-white">
								  <thead>
									<tr>
									  <th translate="module.channel.market_name">客源市场</th>
									  <th>房号</th>
									  <th>客人名称</th>
									  <th></th>
									  <th>电话</th>
									  <th>价格</th>
									  <th>营业日</th>
									  <th translate="common.hint.manager">管理</th>
									</tr>
								  </thead>
								  <tbody ng-repeat="(number, numberConsumes) in consumeList">
									<tr ng-repeat="(detail_id, consumes) in numberConsumes">
									  <td class="text-nowrap">{{book.market_name}}</td>
									  <td><span>{{book.market_name}}</span></td>
									  <td><a ng-click="config(Channel.id)">{{Channel.channel_name}}</a></td>
									  <td>{{Channel.channel_en_name}}</td>
									  <td>{{Channel.phone}}</td>
									  <td>{{Channel.address}}</td>
									  <td>{{Channel.add_datetime}}</td>
									  <td>
									  <button class="btn btn-xs btn-default" ng-click="edit(Channel.id)"><span translate="common.hint.edit" >编辑</span></button>
									  <button class="btn btn-xs btn-default" ng-click="config(Channel.id)"><span translate="common.hint.config" >确认</span></button>
									  </td>
									</tr>
								  </tbody>
								</table>
							  </div>
							</div>
						</div>
                    </div>
                    <div ng-show="activeTab==4">
                        <div class="form-group m-h-n clearfix">
							<div class="p-md">
							  <div class="form-inline form-group">
                                <label class="control-label m-b"><i class="fa fa-clock-o"></i> 月份</label>
                                <div class="input-group">
                                    <input type="text" size="9" class="form-control w-thumb-lg" ng-model="eta_date" data-date-format="yyyy-MM-dd" data-date-type="number" data-start-view="1" data-min-view="1" data-autoclose="true" data-min-date="02/10/86" data-autoclose="1" name="eta_date" bs-datepicker>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                              </div>
							  <div class="table-responsive">
								<table class="table table-bordered table-striped bg-white">
								  <thead>
									<tr>
									  <th translate="module.channel.market_name">客源市场</th>
									  <th>房型</th>
									  <th>房号</th>
									  <th>客人名称</th>
									  <th translate="module.channel.phone">电话</th>
									  <th translate="module.channel.address">地址</th>
									  <th translate="common.hint.date">日期</th>
									  <th translate="common.hint.manager">管理</th>
									</tr>
								  </thead>
								  <tbody>
									<tr ng-repeat="(i, book) in bookList">
									  <td class="text-nowrap">{{book.market_name}}</td>
									  <td><span>{{book.market_name}}</span></td>
									  <td><a ng-click="config(Channel.id)">{{Channel.channel_name}}</a></td>
									  <td>{{Channel.channel_en_name}}</td>
									  <td>{{Channel.phone}}</td>
									  <td>{{Channel.address}}</td>
									  <td>{{Channel.add_datetime}}</td>
									  <td>
									  <button class="btn btn-sm btn-default" ng-click="edit(Channel.id)"><span translate="common.hint.edit" >编辑</span></button>
									  <button class="btn btn-sm btn-default" ng-click="config(Channel.id)"><span translate="common.hint.config" >配置</span></button>
									  </td>
									</tr>
								  </tbody>
								</table>
							  </div>
							</div>
						</div>
                    </div>
                 </div>
              </div>  

              <div class="p-xs"></div>
              <!-- / detail -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="p p-v-sm b-b">
          <script type="text/ng-template" id="filter">
            <ul tabindex="-1" class="dropdown-menu" role="menu">
              <li><a >Read</a></li>
              <li><a >Unread</a></li>
            </ul>
          </script>
          <a href class="pull-right text-muted"><i class="fa fa-trash"></i></a>
          <a href class="btn btn-default btn-xs text-muted" bs-dropdown="dropdown" data-animation="am-flip-x" data-template-url="filter">
            Filter <span class="caret"></span>
          </a>
        </div>
        <!-- use box row -->
        <div class="box-row">
          <div class="box-cell scrollable hover">
            <div class="box-inner">
              <!-- mail list -->
              <div class="list-group list-group-md no-border no-radius no-margin">
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="/data/images/userimg/user_m.png" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      12:30 PM
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>David M.</div>
                    <a href class="text-md text-ellipsis">Easy Angular development with Yeoman</a>
                  </div>
                  <small class="text-muted">One of the best things to happen in web development over the past few years has been the variety of tools</small>
                </div>
                <div class="list-group-item select">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a1.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      10:34 PM 
                      <i class="fa fa-paperclip m-l-sm"></i>
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Eric Dane</div>
                    <a href class="text-md text-ellipsis">This is a short and opinionated review of the AngularJS</a>
                  </div>
                  <small class="text-muted">AngularJS is what HTML would have been, designed for building web-apps.</small>
                </div>
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a2.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      9:34 PM 
                      <i class="fa fa-paperclip m-l-sm"></i>
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Ryan Gosling</div>
                    <a href class="text-md text-ellipsis">Correct the known issue</a>
                  </div>
                  <small class="text-muted">This is a known issue. Please set the correct node write permissions with sudo</small>
                </div>
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a4.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      July 9
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Richard Hammond</div>
                    <a href class="text-md text-ellipsis">Angular bootstrap</a>
                  </div>
                  <small class="text-muted">Native AngularJS (Angular) directives for Bootstrap. Small footprint</small>
                </div>
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a5.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      March 10
                      <i class="fa fa-paperclip m-l-sm"></i>
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Ossily</div>
                    <a href class="text-md text-ellipsis">Building an Angular App: Bootstrapping</a>
                  </div>
                  <small class="text-muted">Using angular.bootstrap to Initialize Your App</small>
                </div>
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a6.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      Feb 8
                      <i class="fa fa-paperclip m-l-sm"></i>
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Patrick</div>
                    <a href class="text-md text-ellipsis">AngularJS Documentation for bootstrap</a>
                  </div>
                  <small class="text-muted">Place ng-app to the root of your application</small>
                </div>
              </div>
              <!-- / mail list -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="/app/manage_room.html">
<ul class="dropdown-menu">
  <li><a style="display:inline;" ng-click="editRoomStatus('lock')"><i class="fas fa-lock"></i> 锁房</a>
      <a style="display:inline;" ng-click="editRoomStatus('unlock')"><i class="fas fa-lock-open"></i> 解锁</a></li>
  <li class="divider" style="height:0;"></li>
  <li><a style="display:inline;" ng-click="editRoomStatus('dirty')"><i class="fas fa-broom small"></i> 脏房</a>
      <a style="display:inline;" ng-click="editRoomStatus('clean')"><i class="fas fa-magic"></i> 净房</a></li>
  <li class="divider"></li>
  <li><a style="display:inline;" ng-click="editRoomStatus('repair')"><i class="fas fa-tools"></i> 维修</a>
      <a style="display:inline;" ng-click="editRoomStatus('repair_ok')"><i class="fas fa-user-check small"></i> 修好</a></li>
  <li class="divider"></li>
  <li>
      <a style="display:inline;" ng-click="editRoomStatus('room_card')"><i class="fas fa-id-card-alt"></i> 房卡</a></li>
</ul>
</script>
<script language="JavaScript" src="/resource/scripts/controllers/Booking/BookRoomStatus.js?"></script>

