<span ng-include="'/resource/views/Common/nav.tpl.html'"></span>
<div class="app-content-inner" style="top:128px;" ng-controller="RoomStatusController">
  <div class="box">
    <div class="col-md-10">
      <div class="box b-r">
        <div class="p p-v-sm b-b">
          <script type="text/ng-template" id="label">
            <ul tabindex="-1" class="dropdown-menu" role="menu">
              <li><a >Sent</a></li>
              <li><a >Trash</a></li>
              <li><a >Work</a></li>
              <li><a >Project</a></li>
            </ul>
          </script>
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-xs btn-default"><i class="fa fa-fw fa-angle-left"></i></button>
            <button type="button" class="btn btn-xs btn-default"><i class="fa fa-fw fa-angle-right"></i></button>
          </div>
          <button type="button" class="btn btn-default icon fa fa-building text-lt" ng-model="param.channel_id" data-html="1" data-toggle="true" bs-options="channel.channel_id as channel.channel_name for channel in thisChannel" bs-select placeholder="{{defaultHotel}}" ng-change="selectChannel(param.channel_id)">
              Action <span class="caret"></span>
          </button>
        </div>
        <div class="box-row">
          <div class="box-cell">
            <div class="box-inner">
              <!-- detail -->
              <div class="p b-b tab-container ">
                <div class="btn-group m-b">
                    <span class="btn btn-xs btn-rounded bg-info">空净</span>
                    <span class="btn btn-xs bg-inverse">住净</span>
                    <span class="btn btn-xs bg-danger">住脏</span>
                    <span class="btn btn-xs bg-warning">维修</span>
                    <span class="btn btn-xs btn-rounded bg-dark">空脏</span>
                    
                </div>
                <ul class="nav nav-sm nav-tabs" ui-nav  ng-init="activeTab=1">
                    <li ng-class="{active:activeTab==1}" ng-click="activeTab=1">
                        <a>{{_self_module.module_name}}</a>
                    </li>
                    <li ng-class="{active:activeTab==2}" ng-click="activeTab=2">
                        <a>今日预抵</a>
                    </li>
                    <li ng-class="{active:activeTab==3}" ng-click="activeTab=3">
                        <a>远期房态</a>
                    </li>
                    <li ng-class="{active:activeTab==4}" ng-click="activeTab=4;getRoomItem()">
                        <a>全部订单</a>
                    </li>
                 </ul>
                 <div class="tab-content"><!--<img class="img-responsive w-thumb-xs" ng-src="{{_resource}}images/room.png">-->
                    <div ng-show="activeTab==1">
                        <div class="form-group clearfix">
                            <div class="buliding clear m-b" ng-repeat="(buliding_key, buliding) in roomList">
                                <div class="m-b-xs"><i class="fa fa-building text-xs"> {{buliding_key}}楼栋</i></div>
                                <div class="floor clearfix" ng-repeat="(floor_key, floor) in buliding">
                                    <span class="badge badge-xs bg-success pos-rlt m-r-xs">{{floor_key}}楼层</span>
                                    <div class="list-group no-radius">
                                        <div class="list-group-item col-sm-2 m-xs" ng-repeat="(i, room) in floor">
                                          <!--<span class="pull-left w-thumb-xs m-r b-b-2x"><i class="ui-icon ti-user {{bookRoomStatus[room.item_id].className}}"></i></span>-->
                                          <div class="clear">
                                            <span class="font-bold block">{{layoutList[layoutRoom[room.item_id].category_item_id].item_name}}
												<div>{{room.item_name}}</div> 
												<label class="pull-right">
													<i class="ui-icon glyphicon {{bookRoomStatus[room.item_id].className}}"></i>
												</label>
                                            </span> 
                                            
                                          </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="activeTab==2">
                        <div class="form-group m-h-n clearfix">
							<div class="p-md">
							  <div class="table-responsive">
								<div class="form-inline form-group">
									<label class="control-label m-b"><i class="fa fa-clock-o"></i> 预抵</label>
									<div class="form-group">
									  <input type="text" size="9" class="form-control check_in w-thumb-lg" ng-model="check_in_date" data-date-format="yyyy-MM-dd" data-date-type="number"  data-autoclose="true"  data-min-date="02/10/86" data-autoclose="1" name="check_in_date" bs-datepicker>
									</div>
								</div>
								<table class="table table-bordered table-striped bg-white table-hover">
								  <thead>
									<tr>
									  <th translate="module.channel.market_name">客源市场</th>
									  <th>房型</th>
                                      <th>价格类型</th>
									  <th>房号</th>
									  <th>预订人</th>
									  <th>电话/email</th>
									  <th>预抵</th>
									  <th>预离</th>
									  <th></th>
									</tr>
								  </thead>
								  <tbody>
									<tr ng-repeat="(i, detail) in bookingDetailRoom">
									  <td class="text-nowrap">{{detail.market_name}}</td>
									  <td><span>{{detail.item_category_name}}</span></td>
                                      <td><span>{{detail.price_system_name}}</span></td>
									  <td>{{detail.item_name==''?'未排房':detail.item_name}}</td>
									  <td>{{bookList[detail.booking_number].member_name}}</td>
									  <td>{{bookList[detail.booking_number].member_mobile==''?bookList[detail.booking_number].member_email:bookList[detail.booking_number].member_mobile}}</td>
									  <td>{{detail.check_in | limitTo:10}}</td>
									  <td>{{detail.check_out | limitTo:10}}</td>
									  <td>
                                          <a class="btn btn-xs btn-rounded btn-stroke btn-primary" ng-click="editRoomBook(detail, 1)">
                                            <span>{{detail.item_name==''?'排房':'入住'}}</span>
                                          </a>
                                      </td>
									</tr>
								  </tbody>
								</table>
							  </div>
							</div>
						</div>
                    </div>
                    <div ng-show="activeTab==3">
                        <div class="form-group m-h-n clearfix">
							<div class="p-md">
							  <h3><span translate="module.channel.channel"></span>列表</h3>
							  <div class="table-responsive">
								<table class="table table-bordered table-striped bg-white">
								  <thead>
									<tr>
									  <th translate="module.channel.market_name">客源市场</th>
									  <th>房型</th>
									  <th>房号</th>
									  <th>客人名称</th>
									  <th translate="module.channel.phone">电话</th>
									  <th translate="module.channel.address">地址</th>
									  <th translate="common.hint.date">日期</th>
									  <th translate="common.hint.manager">管理</th>
									</tr>
								  </thead>
								  <tbody>
									<tr ng-repeat="(i, book) in bookList">
									  <td class="text-nowrap">{{book.market_name}}</td>
									  <td><span>{{book.market_name}}</span></td>
									  <td><a ng-click="config(Channel.id)">{{Channel.channel_name}}</a></td>
									  <td>{{Channel.channel_en_name}}</td>
									  <td>{{Channel.phone}}</td>
									  <td>{{Channel.address}}</td>
									  <td>{{Channel.add_datetime}}</td>
									  <td>
									  <button class="btn btn-sm btn-default" ng-click="edit(Channel.id)"><span translate="common.hint.edit" >编辑</span></button>
									  <button class="btn btn-sm btn-default" ng-click="config(Channel.id)"><span translate="common.hint.config" >配置</span></button>
									  </td>
									</tr>
								  </tbody>
								</table>
							  </div>
							</div>
						</div>
                    </div>
                    <div ng-show="activeTab==4">
                        <div class="form-group m-h-n clearfix">
							<div class="p-md">
							  <h3><span translate="module.channel.channel"></span>列表</h3>
							  <div class="table-responsive">
								<table class="table table-bordered table-striped bg-white">
								  <thead>
									<tr>
									  <th translate="module.channel.market_name">客源市场</th>
									  <th>房型</th>
									  <th>房号</th>
									  <th>客人名称</th>
									  <th translate="module.channel.phone">电话</th>
									  <th translate="module.channel.address">地址</th>
									  <th translate="common.hint.date">日期</th>
									  <th translate="common.hint.manager">管理</th>
									</tr>
								  </thead>
								  <tbody>
									<tr ng-repeat="(i, book) in bookList">
									  <td class="text-nowrap">{{book.market_name}}</td>
									  <td><span>{{book.market_name}}</span></td>
									  <td><a ng-click="config(Channel.id)">{{Channel.channel_name}}</a></td>
									  <td>{{Channel.channel_en_name}}</td>
									  <td>{{Channel.phone}}</td>
									  <td>{{Channel.address}}</td>
									  <td>{{Channel.add_datetime}}</td>
									  <td>
									  <button class="btn btn-sm btn-default" ng-click="edit(Channel.id)"><span translate="common.hint.edit" >编辑</span></button>
									  <button class="btn btn-sm btn-default" ng-click="config(Channel.id)"><span translate="common.hint.config" >配置</span></button>
									  </td>
									</tr>
								  </tbody>
								</table>
							  </div>
							</div>
						</div>
                    </div>
                 </div>
              </div>  

              <div class="p-xs"></div>
              <!-- / detail -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="p p-v-sm b-b">
          <script type="text/ng-template" id="filter">
            <ul tabindex="-1" class="dropdown-menu" role="menu">
              <li><a >Read</a></li>
              <li><a >Unread</a></li>
            </ul>
          </script>
          <a href class="pull-right text-muted"><i class="fa fa-trash"></i></a>
          <a href class="btn btn-default btn-xs text-muted" bs-dropdown="dropdown" data-animation="am-flip-x" data-template="filter">
            Filter <span class="caret"></span>
          </a>
        </div>
        <!-- use box row -->
        <div class="box-row">
          <div class="box-cell scrollable hover">
            <div class="box-inner">
              <!-- mail list -->
              <div class="list-group list-group-md no-border no-radius no-margin">
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="{{__RESOURCE}}data/images/userimg/user_m.png" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      12:30 PM
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>David M.</div>
                    <a href class="text-md text-ellipsis">Easy Angular development with Yeoman</a>
                  </div>
                  <small class="text-muted">One of the best things to happen in web development over the past few years has been the variety of tools</small>
                </div>
                <div class="list-group-item select">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a1.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      10:34 PM 
                      <i class="fa fa-paperclip m-l-sm"></i>
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Eric Dane</div>
                    <a href class="text-md text-ellipsis">This is a short and opinionated review of the AngularJS</a>
                  </div>
                  <small class="text-muted">AngularJS is what HTML would have been, designed for building web-apps.</small>
                </div>
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a2.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      9:34 PM 
                      <i class="fa fa-paperclip m-l-sm"></i>
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Ryan Gosling</div>
                    <a href class="text-md text-ellipsis">Correct the known issue</a>
                  </div>
                  <small class="text-muted">This is a known issue. Please set the correct node write permissions with sudo</small>
                </div>
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a4.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      July 9
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Richard Hammond</div>
                    <a href class="text-md text-ellipsis">Angular bootstrap</a>
                  </div>
                  <small class="text-muted">Native AngularJS (Angular) directives for Bootstrap. Small footprint</small>
                </div>
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a5.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      March 10
                      <i class="fa fa-paperclip m-l-sm"></i>
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Ossily</div>
                    <a href class="text-md text-ellipsis">Building an Angular App: Bootstrapping</a>
                  </div>
                  <small class="text-muted">Using angular.bootstrap to Initialize Your App</small>
                </div>
                <div class="list-group-item">
                  <a href class="w-thumb-md pull-left m-r"><img src="images/a6.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                    <span class="pull-right text-muted text-xs">
                      Feb 8
                      <i class="fa fa-paperclip m-l-sm"></i>
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Patrick</div>
                    <a href class="text-md text-ellipsis">AngularJS Documentation for bootstrap</a>
                  </div>
                  <small class="text-muted">Place ng-app to the root of your application</small>
                </div>
              </div>
              <!-- / mail list -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script language="javascript" src="/resource/vendor/libs/moment.min.js"></script>
<script language="javascript" src="/resource/vendor/libs/daterangepicker.js"></script>
<script language="javascript">
app.controller('RoomStatusController', function($rootScope, $scope, $httpService, $location, $translate, $aside, $ocLazyLoad, $alert, $filter, $modal) {
    $scope.param = {};
    $ocLazyLoad.load([$scope._resource + "vendor/libs/daterangepicker.css",$scope._resource + "styles/booking.css",
        $scope._resource + "vendor/modules/angular-ui-select/select.min.css"]);
    $ocLazyLoad.load([$scope._resource + "vendor/modules/angular-ui-select/select.min.js"]);
    //初始化数据
    //选择入住房
    var selectLayoutRoom = {};$scope.selectLayoutRoom = {};
    var allLayoutRoom = {};
    var liveLayoutRoom = {};
	//获取数据
	var _channel = $scope.$stateParams.channel;
	var _view = $scope.$stateParams.view,common = '';
	var param = 'channel='+_channel+'&view='+_view;
	var loading = $alert({content: 'Loading... 90%', placement: 'top', type: 'info', templateUrl: '/loading.html', show: true});
	$httpService.post('/app.do?'+param, $scope, function(result){
		loading.hide();
		if(result.data.success == '0') {
			var message = $scope.getErrorByCode(result.data.code);
			//$alert({title: 'Error', content: message, templateUrl: '/modal-warning.html', show: true});
		}
		common = result.data.common;
		$scope.setCommonSetting(common);
		$scope.setThisChannel('Hotel');
        $(document).ready(function(){
            $scope.param["channel_id"] = $rootScope.defaultChannel["channel_id"];
            $scope.param["channel_father_id"] = $rootScope.defaultChannel["channel_father_id"];
            $scope.defaultHotel = $rootScope.defaultChannel["channel_name"];
        });
        $scope.bookList   = result.data.item.bookList;//预订
        $scope.roomList   = result.data.item.roomList;//客房
        $scope.layoutList = result.data.item.layoutList;//房型
		$scope.layoutRoom = result.data.item.layoutRoom;//房型房间
		$scope.bookingDetailRoom   = result.data.item.bookingDetailRoom;//预订详情
        $scope.bookRoomStatus   =  {};$scope.roomDetailList   =  {};
        if($scope.roomList != '') {
			//按当日计算预抵预离 过期忽略
			var thisDay = $filter('date')($scope._baseDateTime(), 'yyyy-MM-dd');
			var check_inRoom = {},check_outRoom = {},roomDetailList = {};
			if($scope.bookingDetailRoom != '') {
				for(var i in $scope.bookingDetailRoom) {
					var detail = $scope.bookingDetailRoom[i];
					if(detail.check_in.substr(0, 10) == thisDay) {
						check_inRoom[detail.item_id] = detail;
					}
					if(detail.check_out.substr(0, 10) == thisDay) {
						check_outRoom[detail.item_id] = detail;
					}
					if(!angular.isDefined(roomDetailList[detail.booking_number])) {
						roomDetailList[detail.booking_number] = {};
					}
					roomDetailList[detail.booking_number][detail.booking_detail_id] = detail;
				}
			}
			$scope.roomDetailList = roomDetailList;
			var bookRoomStatus = {};
		    for(var building in $scope.roomList) {
			    for(var floor in $scope.roomList[building]) {
				    var floorRoom = $scope.roomList[building][floor];
					for(var i in floorRoom) {
						var room = floorRoom[i];
						bookRoomStatus[room.item_id] = room;
						//glyphicon-log-in 预抵 glyphicon-log-out 预离 
						bookRoomStatus[room.item_id]['className'] = 'glyphicon-bed';
				   		if(angular.isDefined(check_outRoom[room.item_id])) bookRoomStatus[room.item_id]['className'] = 'glyphicon-log-out';
						if(angular.isDefined(check_inRoom[room.item_id])) bookRoomStatus[room.item_id]['className'] = 'glyphicon-log-in';
					}
			   }
		    }
			$scope.bookRoomStatus = bookRoomStatus;
		}
	});
	//
    $scope.BookRoomEditType = [
        {value: 'Gear', label: '<i class="fa fa-gear"></i> 换房/升级'},
        {value: 'Heart', label: '<i class="glyphicon glyphicon-time"></i> 修改日期'}
    ];
    var asideEditRoomBook = '';
	$scope.editRoomBook = function(_this, tab) {
		$scope.param["valid"] = "1";
		$scope.actionEdit = '预订管理';
		$scope.actionAccounts = '账务管理';
		$scope.actionEditLog = '操作日志';
		$scope.activeRoomBookEditTab = tab;
		$scope.roomDetail = $scope.roomDetailList[_this.booking_number];
        $scope.bookDetail = $scope.bookList[_this.booking_number];
		asideEditRoomBook = $aside({scope : $scope, title: $scope.action_nav_name, placement:'top',animation:'am-fade-and-slide-top',backdrop:"static",container:'body', templateUrl: '/resource/views/Booking/Room/Edit.html'});
		asideEditRoomBook.$promise.then(function() {
			asideEditRoomBook.show();
			$(document).ready(function(){
			});
		});
	};
	//
	$scope.modal = {
        "title": "Title",
        "content": "Hello Modal<br />This is a multiline message!"
    };
    var editBookRoomModal = $modal({scope: $scope, templateUrl: '/resource/views/Booking/Room/EditRoom.html', show: false});
    // Show when some event occurs (use $promise property to ensure the template has been loaded)
    $scope.showEditBookRoomModal = function(_this, tab) {
        editBookRoomModal.$promise.then(editBookRoomModal.show);
    };
	//
    $scope.showBookRoomPrice = function(_this, tab) {console.log($(_this));
        var priceTr = '<tr><td colspan="8"></td></tr>';
        console.log($(_this).parent().parent().html());
        $(_this).parent().parent().append(priceTr);
    };
    //
	$httpService.deleteHeader('refresh');
});

</script>
