<div class="app-content-inner" ng-controller="DiscountCouponController">
	<div class="box b-a bg-white m-b">
    	<div class="col-md-8">
      		<div class="panel-heading b-b b-light"><span class="no-margin" ng-bind-html="_self_module.module_name"></span> <a class="pull-right fa fa-plus" ng-click="addEditDiscount(0)"> </a></div>
            <div class="p-md">
				<div class="m-b-xs form-inline">
					<button type="button" class="btn btn-default" ng-model="channel_id" data-html="1" data-toggle="true" bs-options="channel.channel_id as channel.channel_name for channel in thisChannel" bs-select placeholder="<i class='icon fa fa-building text-lt'></i> 选择店面"  ng-change="changeChannel(channel_id)">
                  Action <span class="caret"></span>
                	</button>
				</div>
				<div class="table-responsive">
					<table st-pipe="callDiscountCoupon" st-table="discountCouponList" class="table table-bordered table-striped bg-white" id="print_content">
					  <thead>
					  <tr>
						<th>折扣/优惠卷名称</th>
						<th>适用类型</th>
						<th>适用对象</th>
						<th>有效时间</th>
						<th>促销政策</th>
					  </tr>
					  </thead>
					  <tbody>
					  <tr ng-repeat="(i, discount) in discountCouponList">
						<td>{{discount.discount_name}}</td>
						<td>{{discount.market_ids}}</td>
						<td></td>
						<td></td>
						<td></td>
					  </tr>
					  <tr><td colspan="5"><a class="ti-printer print-contents" ng-click="printStatementsData()">A4打印报表</a></td></tr>
					  </tbody>
					</table>
				</div>
            </div>
        
     	</div>
     	<div class="col-md-4 b-l no-border-sm">
     		<div class="panel-heading b-b b-light"> 部门目标</div>
            <div class="list-group no-border no-radius">
                <div class="list-group-item">
                  <span class="pull-right">293,200</span>
                  <i class="fa fa-fw fa-circle text-info"></i>
                </div>
             </div>
     	</div>
     </div>
</div>
<script language="javascript">
app.controller('DiscountCouponController', function($rootScope, $scope, $httpService, $location, $translate, $aside, $alert, $ocLazyLoad) {
	$ocLazyLoad.load([$scope._resource + "styles/booking.css"]);
	$scope.param = {};
	//获取数据
	var _channel = $scope.$stateParams.channel, common = '';
	var _view = $scope.$stateParams.view;
	var param = 'channel='+_channel+'&view='+_view;
	$scope.loading.show();
	$httpService.post('/app.do?'+param, $scope, function(result){
		$scope.loading.hide();
		if(result.data.success == '0') {
			return;
			//var message = $scope.getErrorByCode(result.data.code);
			//$alert({title: 'Error', content: message, templateUrl: '/modal-warning.html', show: true});
		}
		//设置common
		common = result.data.common;
		$scope.setCommonSetting(common);
		$scope.setThisChannel('ALL');
		$scope.channel_id = $rootScope.defaultChannel.channel_id;
        $scope.channel_father_id = $rootScope.defaultChannel.channel_father_id;
		$scope.channel = $rootScope.defaultChannel.channel;
		$scope.id = $rootScope.defaultChannel.id;
		//end common
		$scope.marketList = result.data.item.marketList;//客源市场
		$scope.marketList[0] = {'children':{'0':{'market_id':'0','market_name':'所有来源'}},'market_id':'0','market_name':'所有来源'};
		//设置客源市场  
        $scope.selectCustomerMarket($scope.marketList[0].children[0], false);
		$(document).ready(function(){
		});
	});
	//选择客源市场
	$scope.param.selectMarket = '';$scope.param.market_father_ids = {};
    $scope.selectCustomerMarket = function(market, ajaxRoomForcasting) {
        $scope.marketSystemLayout = {};
        if(angular.isDefined(market)) {
            $scope.market_name = market.market_name;
            $scope.market_id = market.market_id;
            $scope.market_father_id =  market.market_father_id;
            $('#customer_ul').next().hide();
            if(market.market_id > 0) {
				if($scope.param.selectMarket == '') $scope.param.selectMarket = {};
				$scope.param.market_father_ids[market.market_id] = market.market_father_id;
				$scope.param.selectMarket[market.market_id] = market.market_name;
			}
        }
    };
	$scope.deleteSelectMarket = function(market_id) {
		delete $scope.param.selectMarket[market_id];
		delete $scope.param.market_father_ids[market_id];
		var selectMarket = Object.keys($scope.param.selectMarket);
		if(selectMarket.length == 0) {
			$scope.selectCustomerMarket($scope.marketList[0].children[0], false);
			$scope.param.selectMarket = '';
		}
	}
	//
	var allCuisineList = '',cuisineCategory = {},cuisineSKU = {};$scope.cuisineList = {};
	$scope.changeChannel = function(channel_id) {
		$scope.id = $rootScope.employeeChannel[channel_id].id;
		$scope.channel_id = $rootScope.employeeChannel[channel_id].channel_id;
        $scope.channel = $rootScope.employeeChannel[channel_id].channel;
		$scope.loading.show();
		$httpService.header('method', $scope.channel+'SellList');
		$httpService.post('/app.do?'+param+'&id='+$scope.id, $scope, function(result){
			$scope.loading.percent();
			if(result.data.success == '0') {
				return;//
			}
			if($scope.channel == 'Meal') analysisMealCuisine(result.data.item.allCuisineList);
			$scope.discountCouponList = result.data.item.receivableData.data;
            tableState.pagination.numberOfPages = result.data.item.receivableData.numberOfPages;
		});
		//解析菜式
		function analysisMealCuisine(allCuisineList) {
			var cuisineList = [], cuisineCategory = {}, cuisineSKU = {}, cuisine_id = 0;
			if(allCuisineList != '') {
				var j = 0;
				for(var i in allCuisineList) {
					cuisine_id = allCuisineList[i].cuisine_id;
					if(allCuisineList[i].cuisine_is_category == '1') {
						cuisineCategory[cuisine_id] = allCuisineList[i];
					} else {
						if(allCuisineList[i].sku == '1') {
							cuisineList[j] = allCuisineList[i];j++;
						} else {
							if(angular.isUndefined(cuisineSKU[allCuisineList[i].sku_cuisine_id])) {
								cuisineSKU[allCuisineList[i].sku_cuisine_id] = {};
							}
							cuisineSKU[allCuisineList[i].sku_cuisine_id][cuisine_id] = allCuisineList[i];
						}
					}
				}
				$scope.cuisineList = cuisineList;
				$scope.rowCuisineList = cuisineList;
				$scope.cuisineCategory = cuisineCategory;
				$scope.cuisineSKU = cuisineSKU;
			}
		}
	}
	//MemberPromotion_AddEdit.html
	$scope.addEditDiscount = function () {
		$scope.param.discount_category='discount';
		$scope.param.discount_type = '1';
		var asideaddEdit = $aside({scope : $scope, title: $scope.action_nav_name, placement:'top',animation:'am-fade-and-slide-top',backdrop:"static",container:'#MainController', templateUrl: '/resource/views/Marketing/DiscountCoupon_AddEdit.html',show: false});
		asideaddEdit.$promise.then(function() {
			asideaddEdit.show();
			$(document).ready(function(){
				$('#customer_ul').mouseover(function(e) {$('#customer_ul').next().show();});
				//$('a.print-contents').printPreview('print_content');
			});
		});
	}
	//
	$scope.savePromotion = function() {
		$httpService.header('method', 'save'+$scope.channel+'Promotion');
		$httpService.post('/app.do?'+param+'&id='+$scope.id, $scope, function(result){
			$scope.loading.percent();
			if(result.data.success == '0') {
				return;//
			}
		});
	}
	//
	/////////
    $scope.discountCouponList = [];$scope.param.tableState = {};
    $scope.callDiscountCoupon = function callDiscountCoupon(tableState) {
        $scope.param = {};        
        $scope.param.tableState = tableState;
        $scope.loading.start();
        $httpService.header('method', 'discountCouponPagination');
        $httpService.post('/app.do?'+param, $scope, function(result){
            $scope.loading.percent();
            $scope.discountCouponList = result.data.item.receivableData.data;
            tableState.pagination.numberOfPages = result.data.item.receivableData.numberOfPages;
        });
    };
});

</script>
