<div class="aside box-shadow h-10x b-r box-shadow no-padding" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
	  <div class="aside-body no-padding">
          <form name="addEditForm" class="form-inline" role="form" ng-submit="addEditPromotion('')">
            <div>
				<div class="col-md-12 p-v">
					<div class="form-group">
						<div class="input-group">
						  <span class="input-group-addon no-radius">折扣/优惠卷名称</span>
						  <input type="text" class="form-control w-thumb-lg" name="discount_name" ng-model="param.discount_name">
						</div>
					</div>
					<div class="form-group no-margin">
						<div class="input-group">
						  <span class="input-group-addon no-radius">有效时间</span>
						  <input type="text" size="9" class="form-control w-thumb-lg" name="begin_date" ng-model="param.begin_date" data-date-format="yyyy-MM-dd" data-date-type="string" data-start-view="0" data-min-view="0" data-autoclose="true" data-min-date="{{getBusinessDay('MM/dd/yyyy')}}" data-autoclose="1" bs-datepicker value="{{business_day}}" onkeypress="return false;">
						  <span class="input-group-addon no-radius no-b-l no-b-r">-</span>
						  <input type="text" size="9" class="form-control w-thumb-lg" name="end_date" ng-model="param.end_date" data-date-format="yyyy-MM-dd" data-date-type="string" data-start-view="0" data-min-view="0" data-autoclose="true" data-min-date="{{getBusinessDay('MM/dd/yyyy')}}" data-autoclose="1" bs-datepicker value="{{business_day}}" onkeypress="return false;">
						</div>
					</div>
				</div>
				<div class="col-md-12 m-b">
					<div class="form-group">
						<div class="input-group">
						  <span class="input-group-addon no-radius">客源市场[多选]</span>
						  <div  ng-include="'/app/customerMarket.html'"></div>
						</div>
						<div class="input-group" ng-repeat="(market_id, market_name) in selectMarket">
							<button class="btn w-xs btn-default">{{market_name}}</button><a class="badge no-bg glyphicon glyphicon-remove-circle up" ng-click="deleteSelectMarket(market_id)"> </a>
						</div>
					</div>
				</div>
				<div class="row m-l">
					<div class="form-group">
						<div class="input-group m-b">
							<span class="input-group-addon no-radius">类型</span>
							<select class="form-control w-thumb-lg" name="discount_category" ng-model="param.discount_category">
								<option value="discount" selected>折扣</option>
								<option value="coupon">优惠卷</option>
							</select>
							<span class="input-group-addon no-radius" ng-if="param.discount_category=='discount'">折扣类型</span>
							<select class="form-control w-thumb-lg" name="discount_type" ng-model="param.discount_type" ng-if="param.discount_category=='discount'">
								<option value="1">打折</option>
								<option value="2">直减</option>
								<option value="3">满减</option>
							</select>
							<span class="input-group-addon no-radius" ng-if="param.discount_category=='coupon'">卷类型</span>
							<select class="form-control w-thumb-lg" name="discount_coupon_type" ng-model="param.coupon" ng-if="param.discount_category=='coupon'">
								<option value="5">优惠卷</option>
								<option value="6">现金红包</option>
								<option value="7">现金卷</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group m-b">
							<span class="input-group-addon no-radius">折扣</span>
							<input type="text" class="form-control w-thumb-lg" name="discount" ng-model="param.discount">
						</div>
					</div>
				</div>
            </div>
         </form>  
	  </div>
      <form name="RestaurantBookEditForm" class="form-validation form-inline" id="thisForm" ng-submit="">
      <div class="aside-body h-10x no-padding bg-light b-t">
        <div class="tab-container" ng-init="activeBookEditTab=1">
            <!--<ul class="nav nav-tabs">
                <li ng-class="{active:activeBookEditTab==1}" ng-click="activeBookEditTab=1">
                    <a>开台管理</a>
                </li>
				<li ng-class="{active:activeBookEditTab==2}" ng-click="activeBookEditTab=2">
                    <a>操作日志</a>
                </li>
            </ul>-->
            <div class="tab-content no-padding">
                <div ng-show="activeBookEditTab==1">
					<script type="text/ng-template" id="/app/checkOutMenu.html">
                        <ul class="dropdown-menu">
                          <li><a href ng-click="bookingClose(bookDetail, 'part')"><i class="fa fa-list-ol"></i> 部分结账</a></li>
                          <li><a href ng-click="bookingClose(bookDetail, 'refund')"><i class="fas fa-tasks"></i> 结账退房</a></li>
                          <li ng-if="bookDetail.receivable_id>0"><a href ng-click="bookingClose(bookDetail, 'hanging')"><i class="fas fa-tasks"></i> 挂账退房</a></li>
                          <li><a href ng-click="bookingClose(bookDetail, 'escape')"><i class="fas fa-grimace"></i> 走结退房</a></li>
                          <li class="divider"></li>
                          <li><a href ng-click="bookingClose(bookDetail, 'cancel')"><i class="fas fa-times"></i> 取消订单</a></li>
                        </ul>
                    </script>
					<div class="btn-group m-l m-t m-b">
						<label class="btn btn-rounded btn-default" ng-class="{active:activeBookAccountsEditTab==1}" ng-click="activeBookAccountsEditTab=1"><i class="fas fa-pizza-slice"></i> 加/减菜</label>
						<label class="btn btn-rounded btn-default" ng-class="{active:activeBookAccountsEditTab==2}" ng-click="activeBookAccountsEditTab=2"><i class="fas fa-user-plus"></i> 加/换台</label>
					</div>
					<div class="btn-group m-t m-b">
						<label class="btn btn-rounded btn-default" ng-class="{active:activeBookAccountsEditTab==3}" ng-click="activeBookAccountsEditTab=3"><i class="fas fa-list-alt"></i> 消费表</label>
						<label class="btn btn-rounded btn-default" ng-class="{active:activeBookAccountsEditTab==4}" ng-click="activeBookAccountsEditTab=4"><i class="far fa-list-alt"></i> 账务表</label>
					</div>
					<div class="btn-group m-t m-b">
						<div class="btn-group dropdown" ng-click="activeBookAccountsEditTab=4">
						  <button type="button" class="btn btn-rounded btn-default" bs-dropdown="dropdown" data-animation="am-fade-and-slide-top" data-template-url="/app/accountsMenu.html"><i class="fas fa-wallet"></i> 
							入账 <span class="caret"></span>
						  </button>          
						</div>
						<div class="btn-group dropdown">
						  <button type="button" class="btn btn-rounded btn-default" bs-dropdown="dropdown" data-animation="am-fade-and-slide-top" data-template-url="/app/checkOutMenu.html"><i class="fas fa-cash-register"></i> 
							结账 <span class="caret"></span>
						  </button>          
						</div>
				    </div>
					<div class="tab-container">
                        <div ng-show="activeBookAccountsEditTab==1"><!-- 餐台/房间 -->
                            <div class="box">
								<div class="col-md-1 b-t">
								  <div class="box b-r">
									<div class="">
										<div class="input-group col-xs-3 m-t-xs m-b-xs m-l">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button">餐台/房间</button>
											</span>
										</div>
									</div>
									<!-- use box row -->
									<div class="box-row">
									  <div class="box-cell scrollable">
										<div class="box-inner b-b">
										  <!-- mail list -->
										  <div class="list-group no-border no-radius no-margin">
											  <div class="list-group-item p-xs p-h-xs" ng-repeat="(j, table) in haveBookTable">
												  <div class="clear m-b-sm">
													<span class="pull-right text-muted text-xs">
													  {{getDay('HH:mm')}}
													  <a class="ti-trash small" ng-click="reduceBookTable(table)"></a>
													</span>
													<div>{{table.item_name}}</div>
												  </div>
												</div>
										  </div>
										</div>
									  </div>
								    </div>
								   </div>
								</div>
								<div class="col-md-3 b-t">
								  <div class="box b-r">
									<div class="">
										<div class="input-group col-xs-3 m-t-xs m-b-xs m-l">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button">已点菜式</button>
											</span>
										</div>
									</div>
									<!-- use box row -->
									<div class="box-row">
									  <div class="box-cell scrollable">
										<div class="box-inner b-b">
										  <!-- mail list -->
										  <div class="list-group no-border no-radius no-margin" ng-repeat="(i, tableCuisine) in haveBookCuisine">
												<div class="list-group-item p-xs p-h-xs" ng-repeat="(j, cuisine) in tableCuisine">
												  <a href="" class="w-thumb-md pull-left m-r-xs"><img class="img-responsive img-circle" src="{{cuisine.image_src}}"></a>
												  <div class="clear m-b-sm">
													<span class="pull-right text-muted text-xs">
													  <a class="ti-plus small" ng-click="addBookCuisine(cuisine)"></a>
													  <span class="badge">{{cuisine.bookNumber}}</span>
													  <a class="ti-minus small" ng-click="reduceBookCuisine(cuisine)"></a>
													</span>
													<div>{{cuisine.cuisine_name}}</div>
													<small class="text-ellipsis">￥{{cuisine.cuisine_price}}</small>
												  </div>
												</div>
										  </div>
										  <!-- / mail list -->
										</div>
									  </div>
									</div>
								  </div>
								</div>
								<div class="col-md-9 b-t">
								  <div class="box" st-table="cuisineList" st-safe-src="rowCuisineList">
									  <div class="p-h b-b">
										  <div class="input-group col-xs-3 m-t-xs m-b-xs">
											  <span class="input-group-btn">
												<button class="btn btn-default" type="button">搜索菜名</button>
											  </span>
											  <input st-search="cuisine_name" class="form-control w" name="cuisine_name" id="cuisine_name" type="text" ng-model="cuisine_name" >
										  </div>
										  <div class="input-group w-sm m-t-xs m-b-xs">
											  <select class="form-control" st-input-event="change" st-search="cuisine_category_id">
												  <option value="">全部类别</option>
												  <option value="1">早餐</option>
												  <option value="{{i}}" ng-repeat="(i, category) in cuisineCategory">{{category.cuisine_name}}</option>
											  </select>
										  </div>
									  </div>
									<div class="box-row">
									  <div class="box-cell" style="min-height: 440px;">
										<div class="box-inner b-b">
										  <!-- detail -->
										  <div class="p tab-container">
											<div class="list-group no-radius">
												<div class="list-group-item col-sm-2 w-sm p-xs m-r-xs" ng-repeat="(i, cuisine) in cuisineList">
												  <a href class="pull-left w-thumb m-r-xs"><img src="{{cuisine.image_src}}" class="img-circle img-responsive"></a>
												  <div class="clear"><div>{{cuisine.cuisine_name}}</div>
												  <small>￥{{cuisine.cuisine_price}}</small>
												  <a class="pull-right text-warning" ng-click="addBookCuisine(cuisine)"><i class="glyphicon glyphicon-plus-sign"></i></a></div>
												</div>
											</div>  
										  </div>  
										  <!-- / detail  data-placement="bottom-left" data-type="success" data-html="true" data-animation="am-fade-and-scale" data-title="<img src='{{cuisine.image_src}}'>" bs-tooltip -->
										</div>
									  </div>
									</div>
								  </div>
								</div>
  							</div>
                        </div>
                        <div ng-show="activeBookAccountsEditTab==2"><!-- 餐桌 -->
                            <div class="box">
								<div class="col-md-1 b-t">
								  <div class="box b-r">
									<div class="p-h b-b">
										<div class="input-group col-xs-3 m-t-xs m-b-xs">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button">餐台/房间</button>
											</span>
										</div>
									</div>
									<!-- use box row -->
									<div class="box-row">
									  <div class="box-cell scrollable hover">
										<div class="box-inner">
										  <!-- mail list -->
										  <div class="list-group no-border no-radius no-margin">
											  <div class="list-group-item p-xs p-h-xs" ng-repeat="(j, table) in haveBookTable">
												  <div class="clear m-b-sm">
													<span class="pull-right text-muted text-xs">
													  {{getDay('HH:mm')}}
													  <a class="ti-trash small" ng-click="reduceBookTable(table)"></a>
													</span>
													<div>{{table.item_name}}</div>
												  </div>
											  </div>
										  </div>
										  <!-- / mail list -->
										</div>
									  </div>
									</div>
								  </div>
								</div>
								<div class="col-md-11 b-t">
								  <div class="box">
									  <div class="p-h b-b">
										  <div class="input-group col-xs-3 m-t-xs m-b-xs">
											  <span class="input-group-btn">
												<button class="btn btn-default" type="button">所有桌台</button>
											  </span>
										  </div>
									  </div>
									<div class="box-row">
									  <div class="box-cell" style="min-height: 440px;">
										<div class="box-inner b-b">
										  <!-- detail -->
										  <div class="p tab-container">
											  <div class="table-responsive">
												  <div class="buliding m-b" ng-repeat="(buliding_key, buliding) in roomList">
													<div class="m-b-xs"><i class="fa fa-building text-xs"> {{buliding_key}}楼栋</i></div>
													<div class="floor clearfix" ng-repeat="(floor_key, floor) in buliding">
														<span class="badge badge-xs bg-success pos-rlt m-r-xs">{{floor_key}}楼层</span>
														<div class="list-group no-radius">
															<div class="list-group-item col-sm-2 no-padding m-r-xs" ng-repeat="(i, room) in floor">
															  <div class="clear p-xs">
																<div>{{room.item_name}}
																	<a ng-click="addBookTable(room)" class="pull-right text-success"><i class="glyphicon glyphicon-plus-sign"></i></a>
																</div>
															  </div>
															</div>
														</div> 
													</div>
												</div>
											  </div>
										  </div>  
										  <!-- / detail -->
										</div>
									  </div>
									</div>
								  </div>
								</div>
  							</div>
                        </div>
                        <div ng-show="activeBookAccountsEditTab==3">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped bg-white text-nowrap">
                                  <thead>
                                    <tr>
                                      <th class="w-xs">打印</th>
                                      <th class="w">房号</th>
                                      <th class="w">物品</th>
                                      <th class="w-xxs">数量</th>
                                      <th class="w-xs">押金</th>
                                      <th class="w">时间</th>
                                      <th class="w-xxs">已还</th>  
                                      <th class="col-xs-1">管理</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="(detail_id, borrowing) in bookBorrowing">
                                        <td colspan="8" class="no-padding panel">
                                            <table class="table no-margin">
                                                <tr ng-repeat="(borrow_id, borrow) in borrowing">
                                                    <td class="w-xs">
                                                        <label class="checkbox-inline ui-checks"><input type="checkbox" ng-model="checkBorrowing[detail_id][borrow_id]" ng-click="setPrintBill('borrowing', borrow, borrow_id, $event)"><i></i></label>
                                                    </td>
                                                    <td class="w">{{borrow.item_name}}</td>
                                                    <td class="w">{{borrow.borrowing_name}}</td>
                                                    <td class="w-xxs">{{borrow.borrowing_num}}</td>
                                                    <td class="w-xs">{{borrow.cash_pledge}}</td>
                                                    <td class="w">{{borrow.add_datetime}}</td>
                                                    <td class="w-xxs">{{borrow.borrowing_return_num}}</td>
                                                    <td class="col-xs-1">
                                                        <span class="btn-group">
                                                            <button class="btn btn-xs btn-default" ng-click="editBorrowing(borrow)" ng-if="borrow.borrowing_return=='0'"><span translate="common.hint.edit" >编辑</span></button>
                                                            <button class="btn btn-xs btn-default" ng-click="revokesOperations(borrow, 'borrow')" ng-if="borrow.borrowing_return=='0'"><span translate="common.hint.give_back" >归还</span></button>
                                                            <button class="btn btn-xs btn-default" ng-if="borrow.borrowing_return=='1'"><span>已归还</span></button>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                      <th class="text-nowrap">合计</th>
                                      <td></td>
                                      <td></td>  
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td class="w-xs"></td>
                                      <td colspan="7"> <a class="ti-printer print-contents" ng-click="printBill('borrowing')">A4打印借物</a></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
				<div ng-show="activeBookEditTab==2">
					  <div class="table-responsive">
						<table class="table bg-white">
						  <thead>
							<tr>
							  <th class="w">标题</th>
							  <th>内容</th>
							  <th class="w">操作人</th>
							  <th class="w">时间</th>
							  <th></th>
							</tr>
						  </thead>
						  <tbody>
							<tr ng-repeat="(i, Operation) in bookingOperationList">
							  <td>{{Operation.operation_title}}</td>
							  <td>{{Operation.operation_content}}</td>
							  <td>{{Operation.employee_name}}</td>
							  <td class="text-nowrap">{{Operation.add_datetime}}</td>
							  <td>{{Operation.request}}</td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
                <div class="form-group"></div>
            </div>
        </div>
      </div>
      <div class="aside-footer panel-footer">
      	<input type="hidden" name="item_id" value="" ng-model="param.item_id" >
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>

