<div class="app-content-inner" ng-controller="MemberPromotionController">
	<div class="box b-a bg-white m-b">
    	<div class="col-md-8">
      		<div class="panel-heading b-b b-light"><span class="no-margin" ng-bind-html="_self_module.module_name"></span> <a class="pull-right fa fa-plus" ng-click="addSalesTarget(0)"> </a></div>
            <div class="p-md">
				<div class="m-b-xs form-inline">
					<button type="button" class="btn btn-default" ng-model="channel_id" data-html="1" data-toggle="true" bs-options="channel.channel_id as channel.channel_name for channel in thisChannel" bs-select placeholder="<i class='icon fa fa-building text-lt'></i> 选择店面"  ng-change="changeChannel(channel_id)">
                  Action <span class="caret"></span>
                	</button>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped bg-white" id="print_content">
					  <thead>
					  <tr>
						<th>店面</th>
						<th>适用类型</th>
						<th>适用对象</th>
						<th>有效时间</th>
						<th>促销政策</th>
					  </tr>
					  </thead>
					  <tbody>
					  <tr ng-repeat="(month, value) in salse_month">
						<td>{{value.name}}</td>
						<td>{{value.salse}}</td>
						<td></td>
						<td></td>
						<td></td>
					  </tr>
					  <tr><td colspan="5"><a class="ti-printer print-contents" ng-click="printStatementsData()">A4打印报表</a></td></tr>
					  </tbody>
					</table>
				</div>
            </div>
        
     	</div>
     	<div class="col-md-4 b-l no-border-sm">
     		<div class="panel-heading b-b b-light"> 部门目标</div>
            <div class="list-group no-border no-radius">
                <div class="list-group-item">
                  <span class="pull-right">293,200</span>
                  <i class="fa fa-fw fa-circle text-info"></i>
                </div>
             </div>
     	</div>
     </div>
</div>
<script language="javascript">
app.controller('MemberPromotionController', function($rootScope, $scope, $httpService, $location, $translate, $aside, $alert, $ocLazyLoad) {
	$scope.param = {};
	//获取数据
	var _channel = $scope.$stateParams.channel, common = '';
	var _view = $scope.$stateParams.view;
	var param = 'channel='+_channel+'&view='+_view;
	$scope.loading.show();
	$httpService.post('/app.do?'+param, $scope, function(result){
		$scope.loading.hide();
		if(result.data.success == '0') {
			return;
			var message = $scope.getErrorByCode(result.data.code);
			$alert({title: 'Error', content: message, templateUrl: '/modal-warning.html', show: true});
		}
		common = result.data.common;
		$scope.setCommonSetting(common);
		$scope.setThisChannel('ALL');
		$(document).ready(function(){
		});
	});
	//
	
});

</script>
