<div class="aside box-shadow h-10x" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <form name="thisForm" class="form-validation" id="thisForm" ng-submit="saveData()">
      <input type="hidden" name="item_type" value="item">
      <div class="aside-body h-8x scrollable">
        <div class="tab-container ng-scope ng-valid ng-dirty">
            <ul class="nav nav-tabs" ng-init="activeTab=1">
                <li ng-class="{active:activeTab==1}" ng-click="activeTab=1">
                    <a>个人信息</a>
                </li>
				<li ng-class="{active:activeTab==2}" ng-click="activeTab=2">
                    <a>职位信息</a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-show="activeTab==1">
					<div class="form-group m-h-n clearfix">
						<div class="col-sm-3">
						<label for="employee_name">姓名</label>
						<input class="form-control w" name="employee_name" value="" ng-model="param.employee_name" required>
						</div>
						<div class="col-sm-3">
						<label for="sex">性别</label>
						<select class="form-control w-sm" name="sex" id="rules" ng-model="param.sex" required>
							<option value="1">男</option>
							<option value="0">女</option>
						</select>
						</div>
					</div>
					<div class="form-group m-h-n clearfix">
						<div class="col-sm-3">
							<label for="mobile">手机</label>
							<input class="form-control w" name="mobile" value="" ng-model="param.mobile" required>
						</div>
						<div class="col-sm-3">
							<label for="id_card">身份证</label>
							<input class="form-control w" name="id_card" value="" ng-model="param.id_card" required>
						</div>
					</div>
					<div class="form-group">
                      <label>员工头像</label>
                      <div class="w-xl w-auto-xs">
                        <div class="box bg-white">
                          <div class="box-col w-auto-xs v-m">
                            <img id="main_images" ng-src="{{param.photo}}" width="120" height="120" class="b p-xs" onerror="this.src='/data/images/userimg/user_b.png'">
                            <input id="image_src" name="image_src" type="hidden" ng-model="param.photo" value="{{param.photo}}">
                          </div>
                          <div class="box-col p">
                            <button class="btn btn-addon btn-default set_image_src" type="button" isMain="1"><i class="fa fa-upload"></i> 上传图片</button>
                            [最大:2M/600x600px]
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-h-n clearfix">
                      <div class="col-sm-3">
                      	<label>部门</label>
                        <div class="form-inline"><div class="form-group" ng-init="ThisNavMenuList=sectorList" ng-include="'/app/commonNavMenu.html'"></div></div>
                      </div>
					  <div class="col-sm-3">
                        <label>职位</label>
						<div class="form-group">
                        <button type="button" class="btn btn-default w-sm text-left clearfix" ng-model="param.position_id" data-html="1" data-toggle="true" bs-options="position.sector_id as position.sector_name for position in thisPosition" bs-select placeholder="选择客职位" ng-change="selectPosition(param.position_id)">
                  Action <span class="caret"></span>
                            </button></div>
                      </div>
						<div class="col-sm-3">
							<label>权限</label>
							<div class="form-group">
							<button type="button" class="btn btn-default w-sm text-left clearfix" ng-model="param.position_id" data-html="1" data-toggle="true" bs-options="position.sector_id as position.sector_name for position in thisPosition" bs-select placeholder="选择客职位" ng-change="selectPosition(param.position_id)">
					  Action <span class="caret"></span>
								</button></div>
						 </div>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline"> <input type="radio" value="1" id="valid1" ng-model="param.valid" name="valid" checked> 有效</label>
                        <label class="radio-inline"> <input type="radio" value="0" id="valid0" ng-model="param.valid" name="valid"> 无效</label>
                    </div>
                    <div class="form-group"></div>
                </div>
				<div ng-show="activeTab==2">
				
				</div>
            </div>
        </div>
      </div>
      <div class="aside-footer panel-footer">
      	<input type="hidden" name="item_id" value="" ng-model="param.item_id" >
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="submit" class="btn btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}" trigger-loading="beginLoading">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>