<div class="p-md" ng-controller="EmployeeSectorPositionController">
	<ul class="nav nav-tabs no-b-b">
		<li class="active"><a ng-bind-html="_self_module.module_name">所有员工</a></li>
		<button class="btn btn-addon btn-default pull-right m-l" ng-click="addEmployee(0)"><i class="fa fa-plus"></i>新建员工</button>
		<button type="button" class="btn btn-default pull-right" ng-model="param.channel_id" data-html="1" data-toggle="true" bs-options="channel.channel_id as channel.channel_name for channel in thisChannel" bs-select placeholder="<i class='icon fa fa-building text-lt'></i> 选择企业">
		  Action <span class="caret"></span>
		</button>
	</ul>
	<div class="box b-a bg-white m-b">
    	<div class="col-md-8">
            <div class="p-md no-br-t">
            <div class="table-responsive">
            <table st-pipe="callEmployeeServer" st-table="displayed" class="table table-bordered table-striped bg-white">
                <thead>
                <tr>
                    <th st-sort="employee_id">ID</th>
                    <th>头像</th>
                    <th st-sort="employee_name">名字</th>
                    <th>性別</th>
                    <th>生日</th>
                    <th>电话</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="8">
                        <div class="input-group col-xs-3">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">搜索</button>
                          </span>
                          <input type="text" st-search="" class="form-control w " name="employee_name" id="employee_name" ng-model="employee_name">
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="(i,row) in employeeList">
                    <td>{{row.employee_id}}</td>
                    <td><img ng-src="{{row.photo}}" onError="this.src='/data/images/userimg/user_b.png'" alt="{{row.employee_name}}" class="img-responsive w-thumb-md img-circle"></td>
                    <td>{{row.employee_name}}</td>
                    <td>{{row.sex==1?'男':'女'}}</td>
                    <td>{{row.birthday}}</td>
                    <td>{{row.mobile}}</td>
                    <td>{{row.email}}</td>
                    <td ><a class="pull-right" ng-click="addEmployee(row)"><i class="fa fa-edit"></i></a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" class="text-center">
                        <div st-items-by-page="10" st-pagination="" st-template="pagination.custom.html">

                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
            </div>
            </div>
        
     	</div>
     	<div class="col-md-4 b-l no-border-sm">
     		<div class="panel-heading b-b b-light"><a ng-click="my_tree_handler('')">全部部门</a></div>
            <div>
			  <span ng-if="doing_async">...loading...</span>
			  <div lazy-load="angularBootstrapNavTree">
				<abn-tree 
				  tree-data         = "my_data" 
				  tree-control      = "my_tree" 
				  on-select         = "my_tree_handler(branch)" 
				  expand-level      = "3" 
				  initial-selection = "Granny Smith"
				  icon-leaf         = "fa fa-file-o"
				  icon-expand       = "fa fa-angle-right"
				  icon-collapse     = "fa fa-angle-down"
				  >
				</abn-tree>
			 </div>
            </div>
     	</div>
     </div>
{{output}}

</div>
<script language="javascript" src="/resource/editor/kindeditor/kindeditor-all-min.js"></script>
<script language="javascript" src="/resource/editor/kindeditor/lang/zh-CN.js"></script>
<script language="javascript" src="/resource/scripts/controllers/Management/SectorPosition.js"></script>

