<div class="p-md" ng-controller="EmployeeSectorPositionController">
    <form name="SectorPositionForm" class="form-inline" role="form">
        <div class="tab-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a>部门职位</a>
                </li>
                <button type="button" class="btn btn-default pull-right" ng-model="param.channel_id" data-html="1" data-toggle="true" bs-options="channel.channel_id as channel.channel_name for channel in thisChannel" bs-select placeholder="<i class='icon fa fa-building text-lt'></i> 选择企业">
                  Action <span class="caret"></span>
                </button>
            </ul>
            <div class="tab-content text-nowrap">
                <div>
                    <div class="table-responsive">
					<div class="col-md-3 col-sm-6">
						
					</div>
						
                        <table class="table table-bordered table-striped bg-white">
                            <thead>
                                <tr>
                                    <th class="w">一级部门</th>
                                    <th class="w">二级部门</th>
                                    <th class="w">职位</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="no-b-t">
								<tr>
									<td colspan="3" class="no-padding panel">
										<div>
										  <span ng-if="doing_async">...loading...</span>
										  <div lazy-load="angularBootstrapNavTree">
											<abn-tree 
											  tree-data         = "my_data" 
											  tree-control      = "my_tree" 
											  on-select         = "SectorPosition(branch)" 
											  expand-level      = "3" 
											  initial-selection = "Granny Smith"
											  icon-leaf         = "fa fa-file-o"
											  icon-expand       = "fa fa-angle-right"
											  icon-collapse     = "fa fa-angle-down"
											  >
											</abn-tree>
										 </div>
										</div>
									</td>
									<td>
										<div class="m-v-sm btn-groups">
										  <button ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm">展开</button>
										  <button ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm">收起</button>
										  <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">全部展开</button>
										  <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">全部收起</button>
										</div>
										<div class="line b-b m-v-md"></div>
										<button ng-click="SectorPositionEdit('sector')" class="btn btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加部门</button>
										<button ng-click="SectorPositionEdit('position')" class="btn btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加职位</button>
										<button ng-click="SectorPositionEdit('edit')" class="btn btn-sm"><i class="fa fa-fw m-r-xs fa-edit"></i> 修改</button>
										<button ng-click="SectorPositionDelete('delete')" class="btn btn-sm"><i class="fa fa-fw m-r-xs fa-trash"></i> 删除</button>
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

