<div class="aside col-xs-6 b-r box-shadow" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
     <form name="RoomStatusEditForm" class="form-validation" id="thisForm" ng-submit="saveRoomStatusEdit()">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">账务项</h4>
      </div>
      <div class="aside-body form-inline">
          <div class="form-group">    
            <aside class="app-aside bg-white lt">
            <nav>
              <ul class="nav">
                <li>
                    <a class="btn btn-default customer_btn" style="padding:6px !important;" id="payment_ul">
                        <span class="pull-right text-muted">
                          <i class="fa fa-caret-down"></i>
                        </span>
                        <i class="icon fas fa-money-check text-lt"></i>
                        <span>{{payment_name}}</span>
                     </a>
                     <ul class="nav nav-sub bg b">
                        <li ng-repeat="(i, father) in paymentTypeList">
                          <a class="">
                            <span class="pull-right text-muted" ng-if="father.children!=''">
                              <i class="fa fa-caret-down"></i>
                            </span>
                            <span class="font-normal">{{father.payment_name}}</span>
                          </a>
                          <ul class="nav nav-sub bg b" ng-if="father.children!=''">
                            <li ng-repeat="(j, payment) in father.children"><a ng-click="selectPaymentType(payment, true)">{{payment.payment_name}}</a></li>
                          </ul>
                        </li>
                     </ul>
                </li>
              </ul>
            </nav>
            </aside>
                    
        </div>
        <div class="input-group">
            <input name="member_name" id="live_in_member_name" value="" class="w-thumb-lg form-control" ng-model="param.member_name" required>
            <span class="input-group-btn">
                <button class="btn btn-rounded btn-default" type="button" ng-click="readGuestIdCard()"><span class="ti-id-badge"></span> 读卡</button>
            </span>
        </div>
        
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="submit" class="btn btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}" trigger-loading="beginLoading">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
