<div class="aside box-shadow h-10x" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <form name="RoomBookEditForm" class="form-validation" id="thisForm" ng-submit="saveData()">
      <div class="aside-body h-8x scrollable">
		  <div class="list-group-item">
			  <a href class="w-thumb-md pull-left m-r"><img src="/data/images/userimg/user_m.png" class="img-responsive"></a>
			  <div class="clear m-b-sm">
				  <div>{{bookDetail.member_name}}</div>
				  <span>{{bookDetail.member_mobile}} {{bookDetail.member_email}}</span>
				  <span class="text-muted text-xs">
                      {{bookDetail.check_in}} {{bookDetail.check_out}}
				  </span>
			  </div>
		  </div>
        <div class="tab-container ng-scope ng-valid ng-dirty">
            <ul class="nav nav-tabs">
                <li ng-class="{active:activeRoomBookEditTab==1}" ng-click="activeRoomBookEditTab=1">
                    <a ng-bind-html="actionEdit"></a>
                </li>
                <!--<li ng-class="{active:activeRoomBookEditTab==2}" ng-click="activeRoomBookEditTab=2">
                    <a ng-bind-html="actionConsume"></a>
                </li>-->
				<li ng-class="{active:activeRoomBookEditTab==3}" ng-click="activeRoomBookEditTab=3">
                    <a ng-bind-html="actionAccounts"></a>
                </li>
                <li ng-class="{active:activeRoomBookEditTab==4}" ng-click="activeRoomBookEditTab=4">
                    <a ng-bind-html="actionEditLog"></a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-show="activeRoomBookEditTab==1">
					<div class="panel-heading">
						<button class="btn btn-sm btn-addon btn-default" ng-click="addGuestLiveIn('')"><i class="fa fa-users"></i>添加住客</button>
					</div>
                      <div class="table-responsive">
						<table class="table">
						  <thead>
							<tr>
							  <th class="col-xs-1">状态</th>
							  <th class="col-xs-1">房号</th>
							  <th class="col-xs-2" translate="module.channel.market_name">客源市场</th>
							  <th class="col-xs-2">房型</th>
							  <th class="col-xs-2">价格类型</th>
                              <th class="col-xs-1">价格</th>
							  <th class="col-xs-1">预抵</th>
							  <th class="col-xs-1">预离</th>
							  <th translate="common.hint.manager">管理</th>
							</tr>
						  </thead>
						  <tbody><!-- 单个订单 roomDetail -->
							<tr ng-repeat="(edit_i, rDetail) in roomDetail">
								<td colspan="9" class="no-padding panel">
								  <table class="table no-margin">
									  <tr>
										  <td class="col-xs-1">
											  <span ng-if="rDetail.booking_detail_status==1">入住</span>
											  <span ng-if="rDetail.booking_detail_status==0">预抵</span>
										  </td>
                                          <td class="col-xs-1" toggle-class="fa fa-edit" class-target="a">{{rDetail.item_name==''?'未排房':rDetail.item_name}}
											<a class="fa pull-right" ng-click="showEditBookRoomModal(rDetail, 'Room')"></a></td>
										  <td class="col-xs-2" toggle-class="fa fa-edit" class-target="a" class="text-nowrap">{{rDetail.market_name}}
											<a class="pull-right" ng-click="showEditBookRoomModal(this, 'market')"></a></td>
										  <td class="col-xs-2" toggle-class="fa fa-edit" class-target="a">{{rDetail.item_category_name}}
											<a class="pull-right" ng-click="showEditBookRoomModal(this, 'category')"></a></td>
										  <td class="col-xs-2" toggle-class="fa fa-edit" class-target="a">{{rDetail.price_system_name}}
											<a class="pull-right" ng-click="showEditBookRoomModal(this, 'system')"></a></td>
										  <td class="col-xs-1" show-bookroom-price="close" ng-Model="consumeList[rDetail.booking_number][rDetail.booking_detail_id]">{{consumeList[rDetail.booking_number][rDetail.booking_detail_id][0].consume_price}}
											<a class="pull-right"></a></td>
										  <td>{{rDetail.check_in | limitTo:10}}</td>
										  <td>{{rDetail.check_out | limitTo:10}}</td>
										  <td>
											  <button type="button" class="btn btn-default btn-xs" ng-model="selectedIcon" data-placement="left-middle" data-html="1" data-toggle="true" bs-options="edit.value as edit.label for edit in BookRoomEditType"
													  placeholder="<i class='fa fa-gear'></i> 操作" bs-select>
												  Action <span class="caret"></span>
											  </button>
										  </td>
									  </tr>
                                      <tr>
                                          <td colspan="9" class="no-padding panel">
                                              <table class="table no-margin">
                                                  <tr ng-repeat="(number, LiveIn) in guestLiveInList[rDetail.booking_number][rDetail.booking_detail_id]">
                                                      <td class="col-xs-1"></td>
                                                      <td  class="col-xs-1" toggle-class="fa fa-edit" class-target="a"><i class="fa fa-user" ng-click="addGuestLiveIn(LiveIn)"></i><a class="pull-right" ng-click="addGuestLiveIn(LiveIn)"></a></td>
                                                      <td class="col-xs-1">{{LiveIn.member_name}}</td>
                                                      <td class="col-xs-1">{{LiveIn.member_sex==1?'男':'女'}}</td>
                                                      <td class="col-xs-1">{{LiveIn.member_mobile}}</td>
                                                      <td class="col-xs-1">
                                                          {{LiveIn.member_idcard_type=='id_card'?'身份证':''}}
                                                          {{LiveIn.member_idcard_type=='passport'?'护照':''}}
                                                          {{LiveIn.member_idcard_type=='officer_permit'?'军官证':''}}
                                                          {{LiveIn.member_idcard_type=='tw_permit'?'台胞证':''}}
                                                          {{LiveIn.member_idcard_type=='hk_permit'?'港澳台通行证':''}}
                                                          {{LiveIn.member_idcard_type=='other_permit'?'其它':''}}
                                                      </td>
                                                      <td>{{LiveIn.member_idcard_number}}</td>
                                                      <td colspan="2"></td>
                                                  </tr>
                                                </table>
                                            </td>
                                      </tr>
								  </table>
								</td>
							</tr>
						  </tbody>
						</table>
                    </div>
                </div>
				<div ng-show="activeRoomBookEditTab==2">
                      <div class="table-responsive">
						
                    </div>
                </div>
                <div ng-show="activeRoomBookEditTab==3">
                      <div class="table-responsive">
						<table class="table table-bordered table-striped bg-white">
						  <thead>
							<tr>
							  <th translate="module.channel.market_name">客源市场</th>
							  <th>房型</th>
							  <th>房号</th>
							  <th>客人名称</th>
							  <th translate="module.channel.phone">电话</th>
							  <th translate="module.channel.address">地址</th>
							  <th translate="common.hint.date">日期</th>
							  <th translate="common.hint.manager">管理</th>
							</tr>
						  </thead>
						  <tbody>
							<tr ng-repeat="(i, rDetail) in roomDetail">
							  <td class="text-nowrap">{{rDetail.market_name}}</td>
							  <td><span>{{rDetail.market_name}}</span></td>
							  <td><a ng-click="config(Channel.id)">{{rDetail.channel_name}}</a></td>
							  <td>{{rDetail.channel_en_name}}</td>
							  <td>{{rDetail.phone}}</td>
							  <td>{{rDetail.address}}</td>
							  <td>{{rDetail.add_datetime}}</td>
							  <td>
							  <button class="btn btn-sm btn-default" ng-click="edit(Channel.id)"><span translate="common.hint.edit" >编辑</span></button>
							  <button class="btn btn-sm btn-default" ng-click="config(Channel.id)"><span translate="common.hint.config" >配置</span></button>
							  </td>
							</tr>
						  </tbody>
						</table>
                    </div>
                </div>
                <div ng-show="activeRoomBookEditTab==4">
                      <div class="table-responsive">
						<table class="table table-bordered table-striped bg-white">
						  <thead>
							<tr>
							  <th translate="module.channel.market_name">客源市场</th>
							  <th>房型</th>
							  <th>房号</th>
							  <th>客人名称</th>
							  <th translate="module.channel.phone">电话</th>
							  <th translate="module.channel.address">地址</th>
							  <th translate="common.hint.date">日期</th>
							  <th translate="common.hint.manager">管理</th>
							</tr>
						  </thead>
						  <tbody>
							<tr ng-repeat="(i, rDetail) in roomDetail">
							  <td class="text-nowrap">{{rDetail.market_name}}</td>
							  <td><span>{{rDetail.market_name}}</span></td>
							  <td><a ng-click="config(Channel.id)">{{rDetail.channel_name}}</a></td>
							  <td>{{rDetail.channel_en_name}}</td>
							  <td>{{rDetail.phone}}</td>
							  <td>{{rDetail.address}}</td>
							  <td>{{rDetail.add_datetime}}</td>
							  <td>
							  <button class="btn btn-sm btn-default" ng-click="edit(Channel.id)"><span translate="common.hint.edit" >编辑</span></button>
							  <button class="btn btn-sm btn-default" ng-click="config(Channel.id)"><span translate="common.hint.config" >配置</span></button>
							  </td>
							</tr>
						  </tbody>
						</table>
                    </div>
                </div>
                <div class="form-group"></div>
            </div>
        </div>
      </div>
      <div class="aside-footer panel-footer">
      	<input type="hidden" name="item_id" value="" ng-model="param.item_id" >
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="submit" class="btn btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}" trigger-loading="beginLoading">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script language="javascript">
app.directive("edit", function(){
  return{
    restrict: "E",
    link: function(scope,element){
      element.bind("click",function(e){
        alert("I am clicked for editing");
      });
    }
  }
}).directive("update",function($document){
  return{
    restrict: 'AE',
    require: 'ngModel',
    link: function(scope,element,attrs,ngModel){
      element.bind("click",function(){
         alert(ngModel.$modelValue + " is updated, Update your value here.");
         var id = "txt_name_" +ngModel.$modelValue.id;
         var obj = $("#"+id);
         obj.removeClass("active");
         obj.addClass("inactive");
         obj.attr("readOnly",true);
          scope.$apply(function(){
           scope.showEdit = true;
         })
      })
    }
  }
}).directive("showBookroomPrice", function($document){
  return{
    restrict: "A",
	require: 'ngModel',
    link: function($scope, $element, $attr, $ngModel){
        var show = $attr.showBookroomPrice;
        $element.on('mouseout', function(){
            if(show == 'close') {
                $element.find('a').removeClass('fa fa-angle-double-down');
            } else {
                $element.find('a').removeClass('fa fa-angle-up');
            }
        });
        $element.on('mouseover', function(){
            if(show == 'close') {
                $element.find('a').addClass('fa fa-angle-double-down');
            } else {
                $element.find('a').addClass('fa fa-angle-up');
            }
        });
        $element.find('a').on("click",function(){
            if(show == 'close') {
            	var priceTable = '<table class="table no-margin table-condensed"><tbody><tr>';
            	for(var i in $ngModel.$modelValue) {
            		var price = $ngModel.$modelValue[i];
					priceTable += '<td>'+price.business_day + '</td><td>' + price.consume_price+'</td>';
				}
				priceTable += '</tr></tbody></table>';
                $element.parent().after('<tr><td colspan="8" class="no-padding panel">'+priceTable+'</td></tr>');
                $attr.showBookroomPrice = show = 'on';
                $element.find('a').removeClass('fa fa-angle-double-down');
                $element.find('a').addClass('fa fa-angle-up');
            } else {
                $element.parent().next().remove();
                $attr.showBookroomPrice = show = 'close';
                $element.find('a').removeClass('fa fa-angle-up');
                $element.find('a').addClass('fa fa-angle-double-down');
            }
        })
    }
  }
});
//modal controller
</script>