<div class="aside box-shadow h-10x" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <form name="form-layout" class="form-validation" id="setItemForm" ng-submit="saveItem()">
      <div class="m-t" ng-show="content">
        <div class="tab-container">
            <ul class="nav nav-tabs" ng-init="activeTab=1">
                <li ng-class="{active:activeTab==1}" ng-click="activeTab=1">
                    <a>基本信息</a>
                </li>
                <li ng-class="{active:activeTab==2}" ng-click="activeTab=2">
                    <a>属性</a>
                </li>
                <li ng-class="{active:activeTab==3}" ng-click="activeTab=3">
                    <a>图片</a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-show="activeTab==1">
                    <div class="form-group m-h-n clearfix">
					  <div class="col-sm-3">
                        <div class="w">
							<ui-select ng-model="select_cuisineCategory" ng-change="selectCategory($select.selected)" theme="bootstrap">
								<ui-select-match placeholder="类别">{{$select.selected.cuisine_name}}</ui-select-match>
								<ui-select-choices repeat="category in itemCategoryList | filter: $select.search">
									<div ng-bind-html="category.cuisine_name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
							<input name="cuisine_category_id" id="cuisine_category_id" value="{{param.cuisine_category_id}}" ng-model="param.cuisine_category_id" type="hidden">
						</div>
                      </div>
					</div>
					<div class="form-group m-h-n clearfix">
                      <div class="col-sm-3">
                        <label>菜式中文名称</label>
                        <input class="form-control" name="cuisine_name" ng-model="param.cuisine_name" required type="text">
                      </div>
                      <div class="col-sm-3">
                        <label>菜式英文名称</label>
                        <input class="form-control" name="cuisine_en_name" ng-model="param.cuisine_en_name" type="text">
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline"> <input type="radio" value="1" id="valid1" ng-model="param.valid" name="valid" checked> 有效</label>
                        <label class="radio-inline"> <input type="radio" value="0" id="valid0" ng-model="param.valid" name="valid"> 无效</label>
                    </div>
                    <div class="form-group m-h-n clearfix">
                        <div class="col-sm-6"><label>特色描述</label>
                        <textarea class="form-control" name="cuisine_specialty" ng-model="param.cuisine_specialty" rows="2"></textarea></div>
                        <div class="col-sm-6"><label>特色描述(英文)</label>
                        <textarea class="form-control" name="cuisine_en_specialty" ng-model="param.cuisine_en_specialty" rows="2"></textarea></div>
                    </div>
                    <div class="form-group">
                      <label>菜式主图</label>
                      <div class="w-xl w-auto-xs">
                        <div class="box bg-white">
                          <div class="box-col w-auto-xs v-m">
                            <img id="main_images" ng-src="{{param.image_src}}" width="120" height="120" class="b p-xs">
                            <input id="image_src" name="image_src" type="hidden" ng-model="param.image_src" value="{{param.image_src}}">
                          </div>
                          <div class="box-col p">
                            <button class="btn btn-addon btn-default set_image_src" type="button" isMain="1"><i class="fa fa-upload"></i> 上传图片</button>
                            [2M/600x600px]
                          </div>
                        </div>
                      </div>
                    </div>
					<div class="list-group no-radius">
						<div href class="list-group-item">菜式规格 <a class="fa fa-plus-square" ng-click="addSKUArrtibute()"> </a></div>
						<div class="list-group-item form-inline" ng-repeat="(attr, sku) in skuList track by $index">
							<div class="form-group">
								<div class="input-group m-b-xs w-lg">
									<span class="input-group-btn" title="售价"><span class="btn btn-default">售价</span></span>
									<input size="6" class="form-control w-xs" name="cuisine_price[{{attr}}]" string-to-number ng-model="skuList[attr].cuisine_price" type="number" required>
									<span class="input-group-btn" title="库存"><span class="btn btn-default">库存</span></span>
						  			<input size="6" class="form-control w-xs" name="cuisine_inventory[{{attr}}]" string-to-number ng-model="skuList[attr].cuisine_inventory" required type="number" data-trigger="focus" data-container="body" data-html="true" data-type="success" data-title="无限库存请加大值到1000000以上" bs-tooltip>
									<input type="hidden" name="cc_id[{{attr}}]" value="{{sku.cc_id}}" ng-model="skuList[attr].cc_id">
								</div>
								<div class="input-group m-b-xs no-radius">
									<span class="input-group-btn" title="规格"><span class="btn btn-default">规格</span>
								  </span>
								  <span class="input-group-btn">
									<ui-select ng-model="select_SkuAttr[1]" ng-keyup="selectSkuAttr($select.search, attr, 1)" ng-change="changeSkuAttr($select.selected, attr, 1)" theme="bootstrap" ng-if="$index==0">
										<ui-select-match placeholder="填写/选择 ">{{$select.selected.cn}}</ui-select-match>
										<ui-select-choices repeat="SkuAttr in cuisineSkuAttrList[1] | filter: $select.search">
											<div ng-bind-html="SkuAttr.cn | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
									</span>
									<input class="form-control w-xs" type="text" size="6" ng-model="select_SkuAttr[1].cn" ng-if="$index>0" readonly>
									<span class="input-group-btn" title="规格值/单位"><span class="btn btn-default">规格值</span></span>
									<input class="form-control w-xs" type="text" size="6" name="sku_attr_value[1][{{attr}}]" ng-model="skuList[attr].sku_attr1_value" data-trigger="focus" data-container="body" data-html="true" data-type="success" data-title="值/单位,例:100克/1份/红色" bs-tooltip>
								</div>
								<div class="input-group m-b-xs no-radius">
									<span class="input-group-btn" title="规格"><span class="btn btn-default">规格</span>
								  </span>
									<ui-select ng-model="select_SkuAttr[2]" ng-keyup="selectSkuAttr($select.search, attr, 2)" ng-change="changeSkuAttr($select.selected, attr, 2)" theme="bootstrap" ng-if="$index==0">
										<ui-select-match placeholder="填写/选择 ">{{$select.selected.cn}}</ui-select-match>
										<ui-select-choices repeat="SkuAttr in cuisineSkuAttrList[2] | filter: $select.search">
											<div ng-bind-html="SkuAttr.cn | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
									<input class="form-control w-xs" type="text" size="6" ng-model="select_SkuAttr[2].cn" ng-if="$index>0" readonly>
									<span class="input-group-btn" title="规格值/单位"><span class="btn btn-default">规格值</span></span>
									<input size="6" class="form-control w-xs" name="sku_attr_value[2][{{attr}}]" ng-model="skuList[attr].sku_attr2_value" type="text" data-trigger="focus" data-container="body" data-html="true" data-type="success" data-title="值/单位,例:100克/1份/红色" bs-tooltip>
								</div>
								<div class="input-group m-b-xs no-radius">
									<span class="input-group-btn" title="规格"><span class="btn btn-default">规格</span></span>
									<ui-select ng-model="select_SkuAttr[3]" ng-keyup="selectSkuAttr($select.search, attr, 3)" ng-change="changeSkuAttr($select.selected, attr, 3)" theme="bootstrap" ng-if="$index==0">
										<ui-select-match placeholder="填写/选择 ">{{$select.selected.cn}}</ui-select-match>
										<ui-select-choices repeat="SkuAttr in cuisineSkuAttrList[3] | filter: $select.search">
											<div ng-bind-html="SkuAttr.cn | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
									<input class="form-control w-xs" type="text" size="6" ng-model="select_SkuAttr[3].cn" value="" ng-if="$index>0" readonly>
									<span class="input-group-btn" title="规格值/单位"><span class="btn btn-default">规格值</span></span>
									<input size="6" class="form-control w-xs" name="sku_attr_value[3][{{attr}}]" ng-model="skuList[attr].sku_attr3_value" type="text" data-trigger="focus" data-container="body" data-html="true" data-type="success" data-title="值/单位,例:100克/1份/红色" bs-tooltip>
								</div>
								<!--<div class="input-group m-b-xs no-radius">
									<span class="input-group-btn" title="规格"><span class="btn btn-default">规格4</span>
								  </span>
									<ui-select ng-model="select_SkuAttr1[attr]" ng-keyup="selectSkuAttr($select.search, attr, 1)" theme="bootstrap">
										<ui-select-match placeholder="填写/选择 ">{{$select.selected.cn}}</ui-select-match>
										<ui-select-choices repeat="SkuAttr in cuisineSkuAttrList | filter: $select.search">
											<div ng-bind-html="SkuAttr.cn | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
									<span class="input-group-btn" title="规格值/单位"><span class="btn btn-default">规格4值</span></span>
									<input size="6" class="form-control w-xs" name="skuList[attr].sku_attr1_value" ng-model="skuList[attr].sku_attr1_value" type="text" data-trigger="focus" data-container="body" data-html="true" data-type="success" data-title="值/单位,例:100克/1份/红色" bs-tooltip>
								</div>
								<div class="input-group m-b-xs no-radius">
									<span class="input-group-btn" title="规格"><span class="btn btn-default">规格5</span>
								  </span>
									<ui-select ng-model="select_SkuAttr1[attr]" ng-keyup="selectSkuAttr($select.search, attr, 1)" theme="bootstrap">
										<ui-select-match placeholder="填写/选择 ">{{$select.selected.cn}}</ui-select-match>
										<ui-select-choices repeat="SkuAttr in cuisineSkuAttrList | filter: $select.search">
											<div ng-bind-html="SkuAttr.cn | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
									<span class="input-group-btn" title="规格值/单位"><span class="btn btn-default">规格5值</span></span>
									<input size="6" class="form-control w-xs" name="skuList[attr].sku_attr1_value" ng-model="skuList[attr].sku_attr1_value" type="text" data-trigger="focus" data-container="body" data-html="true" data-type="success" data-title="值/单位,例:100克/1份/红色" bs-tooltip>
								</div>-->
								<label class="ui-switch bg-dark m-t-xs m-r" ng-if="$index>0"><input type="checkbox" ng-checked="sku.valid==1" ng-click="deleteSKUArrtibute($event,attr)"><i></i></label>
							</div>
						</div>
					</div>
                </div>
                <div ng-show="activeTab==2">
                	<div class="list-group no-border-sm" ng-repeat="(father_id, childen) in configArrtibute[0]" ng-if="childen.attribute_id>1">
                      <div class="panel-heading no-border no-radius b-b b-light">{{childen.attribute_name}}</div>
                      <div class="list-group-item" ng-repeat="(j, sub) in configArrtibute[father_id]">
                          <span class="pull-right"></span>
                          <span class="pull-left col-sm-1">
                          <i class="fa fa-fw fa-circle text-info"></i>
                          {{sub.attribute_name}}
                          </span>
                          <div class="clear">
                            <div class="font-bold block" ng-if="sub.input_type=='checkbox'">
                            	<label class="checkbox-inline ui-checks" ng-repeat="(i, defaultAttr) in arrayDefaultAttr[sub.attribute_id]">
                                    <input type="checkbox" class="attr_value_{{sub.attribute_id}}" name="attr_value[{{sub.attribute_id}}][{{i}}]" value="{{defaultAttr[0]}}">
                                    <i></i>
                                    {{defaultAttr[0]}}
                                </label>
                                <label class="checkbox-inline">
                                	<input class="form-control w-sm attr_value_{{sub.attribute_id}}_0" type="text" name="attr_value[{{sub.attribute_id}}][-1]" value="" placeholder="自定义" >
                                </label>
                            </div>
							<div class="font-bold block radio" ng-if="sub.input_type=='radio'">
                            	<label class="radio-inline ui-checks" ng-repeat="(i, defaultAttr) in arrayDefaultAttr[sub.attribute_id]">
                                    <input type="radio" class="attr_value_{{sub.attribute_id}}" name="attr_value[{{sub.attribute_id}}]" value="{{defaultAttr[0]}}">
                                    <i></i>{{defaultAttr[0]}}
                                </label>
                                <label class="checkbox-inline">
                                	<input class="form-control w-sm attr_value_{{sub.attribute_id}}_0" type="text" name="attr_value[{{sub.attribute_id}}][-1]" value="" placeholder="自定义" >
                                </label>
                            </div>                            <div class="clear" ng-if="sub.input_type=='boolean'">
                                <label class="radio-inline">
                                  <input type="radio" value="1" class="attr_value_{{sub.attribute_id}}" name="attr_value[{{sub.attribute_id}}][0]" checked> 有
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" value="0" class="attr_value_{{sub.attribute_id}}" name="attr_value[{{sub.attribute_id}}][0]"> 无
                                </label>
                                <label class="radio-inline">
                                	<input name="attr_value[{{sub.attribute_id}}][1]" placeholder="自定义" class="form-control w-sm attr_value_{{sub.attribute_id}}_0" type="text" value=""> 
                                </label>
                            </div>
                            <div class="col-sm-12" ng-repeat="(l, subChilden) in configArrtibute[sub.attribute_id]">
                                <label class="col-sm-1 w-xs m-t-xs control-label">
                                    <span class="fa fa-angle-right fa-fw text-muted"></span>
                                    {{subChilden.attribute_name}}
                                </label>
                                <div class="col-sm-11" ng-if="subChilden.input_type=='checkbox'">
                                <label class="checkbox-inline ui-checks" ng-repeat="(i, defaultAttr) in arrayDefaultAttr[subChilden.attribute_id]">
                                    <input type="checkbox" class="attr_value_{{subChilden.attribute_id}}" name="attr_value[{{subChilden.attribute_id}}][{{i}}]" value="{{defaultAttr[0]}}">
                                    <i></i>
                                    {{defaultAttr[0]}}
                                </label>
                                </div>
                                <div class="col-sm-1" ng-if="subChilden.input_type=='number'">
                                	<input type="number" min="1" class="form-control attr_value_{{subChilden.attribute_id}}_0" name="attr_value[{{subChilden.attribute_id}}][0]" value="">
                                </div>
                            </div>
                            <div class="font-bold block" ng-if="sub.input_type=='extend_text'">
                            	<span ng-repeat="(attr_id, extend) in extend_attr">
                            	<label class="control-label checkbox-inline no-padding m-b-xs attr_extend" ng-repeat="(i, attr) in extend">
                                	<input class="form-control w-xxl extend_text_{{attr_id}}" type="text" data-id="{{i}}" name="attr_value[{{attr_id}}][{{i}}]" value="{{attr.attr_value}}">
                                </label>
                                </span>
								<label class="control-label checkbox-inline no-padding m-b-xs attr_extend" id="attr_extend">
                                	<input class="form-control w-xxl extend_text_10" type="text" data-id="-1" name="attr_value[10][-1]" value="">
                                </label>
                                <div class="checkbox-inline"> <a ng-click="attrExtend(10)" class="fa fa-plus-square" attr-id='10'> </a></div>
                                
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div ng-show="activeTab==3">
                    <label>菜式图片</label>                      
                    <div class="clear" id="selectImages">
                    	<div class="box-col w-auto-xs v-m col-sm-1 w-thumb-lg m-r-xs no-padding" ng-repeat="(url, title) in haveSelectImages">
                            <div><img width="128" height="128" class="b p-xs" ng-src="{{url}}" /></div>
                            <div class="input-group w-thumb-lg">
                            	<input class="form-control" name="item_images[{{url}}][name]" type="text" placeholder="标题" value="{{title}}"> 
                                <input type="hidden" name="item_images[{{url}}][url]" value="{{url}}">
                                <a class="input-group-addon ti-trash no-radius" ng-click="setSubImages(url, '_del_images')"></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="list-group no-radius clear">
                      <div class="m-t-sm">
                        <button class="btn btn-addon btn-default set_image_src" type="button" isMain="0"><i class="fa fa-upload"></i> 上传图片</button>
                            [2M/600x600px]
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="aside-footer panel-footer">
        <input type="hidden" name="cuisine_id" value="" ng-model="param.cuisine_id" >
		<input type="hidden" name="sku_key" value="" ng-model="param.sku_key" >
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="submit" class="btn btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}" trigger-loading="beginLoading">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
