<span ng-include="'/resource/views/Common/nav.tpl.html'"></span>
<div class="p-md">
  <div class="box b-a bg-white m-b" ng-controller="MealController">
    <div class="col-md-10">
      <div class="panel-heading b-b b-light">{{arrayChannel.channel_name}}<span class="text-muted"> &raquo;{{channel_config_name}} <!--增加属性--><a class="pull-right fa fa-plus-square" ng-click="addArrtibute(channel_config_key, 0)"> </a></span></div>
      <div class="panel-body no-padding">
        
        <div class="m-b-lg">
            <div class="m-b">   
				<!--菜式类别开始-->
                <div class="list-group no-radius" ng-if="channel_config_key=='cuisineCategory'">
                    <div class="list-group-item w-lg p-xs m-xs col-sm-3"  ng-repeat="(i, item) in itemList">
                      <span class="pull-left w-xs m-r b-b-2x"><img class="img-responsive" width="90" height="90" ng-src="{{item.image_src}}"></span>
                      <div class="clear">
                        <span class="font-bold block">{{item.cuisine_name}}
                            <a ng-if="item.company_id>0"><i class="glyphicon glyphicon-edit pull-right" ng-click="editItem(item)"></i></a>
                        </span> 
                        特色:{{item.cuisine_specialty}}
                      </div>
                    </div>
                </div>
                <!--菜式类别结束-->
				<!--菜式开始-->
                <div class="list-group no-radius" ng-if="channel_config_key=='cuisine'">
					<!--菜式分页开始 -->
					<div class="panel panel-default no-border">
                    <table st-pipe="callServer" st-table="itemList" class="table table-striped">
                        <thead>
                        <tr>
							<th>图片</th>
                            <th st-ratio="40" st-sort="cuisine_name">菜式名字</th>
                            <th st-ratio="10" st-sort="cuisine_category_id">类别</th>
                            <th st-ratio="15" st-sort="cuisine_price">售价</th>
                            <th st-ratio="15" st-sort="cuisine_inventory">库存</th>
                            <th st-ratio="15" st-sort="cuisine_sell_clear">沽清</th>
                            <th st-ratio="5" st-sort="valid">有效</th>
							<th st-ratio="5">编辑</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="8">
                                <div class="input-group col-xs-3">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">搜索菜名</button>
                                  </span>
                                  <input st-search="" class="form-control w" name="cuisine_name" id="cuisine_name" type="text" ng-model="cuisine_name" >
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="(i, item) in itemList">
                            <td><img class="img-responsive" width="45" height="45" ng-src="{{item[i].image_src}}"></td>
							<td title="{{item[i].cuisine_specialty}}">{{item[i].cuisine_name}}</td>
							<td>{{itemCategoryList[item[i].cuisine_category_id].cuisine_name}}</td>
							<td>{{item[i].cuisine_price}}</td>
							<td>{{item[i].cuisine_inventory}}</td>
							<td>{{item[i].cuisine_sell_clear==1?'沽清':''}}</td>
							<td>{{item[i].valid==0?'无效':'有效'}}</td>
							<td><a><i class="glyphicon glyphicon-edit" ng-click="editItem(item[i])"></i></a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-items-by-page="10" st-pagination="" st-template="pagination.custom.html">
                                    
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                  </div>
                </div>
                <!--菜式结束-->
				<!--table开始-->
                <div class="list-group no-radius" ng-if="channel_config_key=='table'">
					<div class="panel panel-default no-border">
                    <table st-pipe="callTableServer" st-table="itemList" class="table table-striped">
                        <thead>
                        <tr>
                            <th st-ratio="40" st-sort="item_name">房间名称/餐桌编号</th>
                            <th st-ratio="10" st-sort="item_attr2_value">楼栋</th>
                            <th st-ratio="15" st-sort="item_attr1_value">楼层</th>
                            <th st-ratio="15" st-sort="number_max">最多坐几人</th>
                            <th st-ratio="15" st-sort="item_attr4_value">面积</th>
                            <th st-ratio="5" st-sort="valid">有效</th>
							<th st-ratio="5">编辑</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="input-group col-xs-3">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">房间名称/餐桌编号</button>
                                  </span>
                                  <input st-search="" class="form-control w" name="item_name" id="item_name" type="text" ng-model="item_name" >
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="(i, item) in itemList">
							<td>{{item.item_name}}</td>
                            <td>{{item.item_attr2_value}}</td>
							<td>{{item.item_attr1_value}}</td>
							<td>{{item.number_max}}</td>
							<td>{{item.item_attr4_value}}</td>
							<td>{{item.valid==0?'无效':'有效'}}</td>
							<td><a><i class="glyphicon glyphicon-edit" ng-click="addArrtibute(channel_config_key, item)"></i></a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination="" st-template="pagination.custom.html">
                                    
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                  </div>
                </div>
                <!--table结束-->
				<!--添加（房间|房型|菜式)按钮开始-->
                <div class="w-xl w-auto-xs">
                    <div class="box bg-white m-xs">
                      <div class="box-col w-auto-xs v-m">
                        <img ng-click="addArrtibute(channel_config_key, 0)" ng-src="{{__RESOURCE}}images/a10.jpg" width="120" height="120" class="b p-xs m-t-xs">
                      </div>
                      <div class="box-col p">
                        <a href="" class="fa fa-plus-square" ng-click="addArrtibute(channel_config_key, 0)"> 添加{{channel_config_name}}</a>
                        <div></div>
                      </div>
                    </div>
                </div>
                <!--添加（房间|房型|菜式）按钮结束-->
            </div>
        </div>
      </div>
    </div>
    <!--右边comom添加属性开始-->
	<div class="col-md-2 b-l no-border-sm">
      <div class="panel-heading b-b b-light" translate="common.hint.config">配置</div>
      <div class="list-group no-border no-radius">
        <div class="list-group-item" ng-repeat="(key, name) in arrayConfig" ng-init="i=0;">
          <a class="pull-right ti-settings" ng-click="config(key)"></a>
          <i class="fa fa-fw fa-circle text-info"></i>
          {{name}} 
        </div>
      </div>
      <div class="panel-heading b-b b-light" translate="module.channel.arrtibute">属性</div>
      <div class="list-group no-border no-radius" ng-repeat="(i, Arrtibute) in configArrtibute" ng-if="i==0">
        <div class="list-group-item" ng-repeat="(father_id, childen) in Arrtibute">
            <div class="m-b-xs">
            <!--<a class="pull-right ti-settings" ng-click="config(i)"></a>-->
            <i class="fa fa-fw fa-circle text-info"></i>
            {{childen.attribute_name}}
            </div>
            <ul class="m-l nav b-b" ng-repeat="(j, sub) in configArrtibute[father_id]">
            	<li class="p-xs">{{sub.attribute_name}}</li>
                <li class="col-md-5 p-xs m-l-xs" ng-repeat="(l, subChilden) in configArrtibute[sub.attribute_id]">
                    <span class="fa fa-angle-right fa-fw text-muted"></span> {{subChilden.attribute_name}}
                </li>
            </ul>
        </div>
      </div>
    </div>
    <!--右边添加属性结束-->
  </div>
</div>
<script language="JavaScript">
    app.controller('MealController', function($rootScope, $scope, $httpService, $location, $translate, $aside, $ocLazyLoad, $alert) {
		$scope.param = {};
		$ocLazyLoad.load([__RESOURCE+"editor/kindeditor/lang/zh-CN.js"]);
		var arrayAttribute = {};
		//获取数据
		var _channel = $scope.$stateParams.channel, common = '';
		var _view = $scope.$stateParams.view;
		var param = 'channel='+_channel+'&view='+_view;
		$scope.loading.show();
		$httpService.post('/app.do?'+param, $scope, function(result){
			$scope.loading.hide();
			if(result.data.success == '0') {
				var message = $scope.getErrorByCode(result.data.code);
				$alert({title: 'Error', content: message, templateUrl: '/modal-warning.html', show: true});
			}
			common = result.data.common;
			$scope.setCommonSetting(common);
			$scope.itemList            = result.data.item.itemList;
			$scope.arrayConfig         = result.data.item.arrayConfig;
			$scope.arrayChannel        = result.data.item.arrayChannel;
			$scope.arrayDefaultAttr    = result.data.item.arrayDefaultAttr;
			$scope.channel_config_key  = result.data.item.channel_config_key;
			$scope.channel_config_name = result.data.item.channel_config_name;
			$scope.channel_id          = result.data.item.channel_id;
			$scope.this_config_url     = result.data.item.this_config_url;
			$scope.channel_config_url  = result.data.item.channel_config_url;
			$scope.imagesUploadUrl     = result.data.item.imagesUploadUrl;
			$scope.imagesManagerUrl    = result.data.item.imagesManagerUrl;
			//
			arrayAttribute = result.data.item.arrayAttribute;
			var configArrtibute = {};
			if(arrayAttribute != '') {
				for(var i in arrayAttribute) {
					if(typeof(configArrtibute[arrayAttribute[i].attribute_father_id]) == 'undefined') 
						configArrtibute[arrayAttribute[i].attribute_father_id] = {};
					configArrtibute[arrayAttribute[i].attribute_father_id][arrayAttribute[i].attribute_id] = arrayAttribute[i];
				}
			}
			$scope.configArrtibute = configArrtibute;
			$(document).ready(function(){
				$scope.setActionNavName('', $rootScope._self_module.module_name);
			});
			//按配置出初始化
			if($scope.channel_config_key == 'cuisine') {
				$scope.itemCategoryList  = result.data.item.itemCategoryList;
				var cuisineSkuAttr  = result.data.item.cuisineSkuAttrList, cuisineSkuAttrList = {};
				cuisineSkuAttrList[1] = angular.copy(cuisineSkuAttr);
				cuisineSkuAttrList[2] = angular.copy(cuisineSkuAttr);
				cuisineSkuAttrList[3] = angular.copy(cuisineSkuAttr);
				$scope.cuisineSkuAttrList = cuisineSkuAttrList;
			}
		});
		
		$scope.haveSelectImages = {};$scope.extend_attr = {};
		//begin commom 右边数据/////////////////////////////////////////////////////////////////////////////////////
		var myArrtibute = '';
		$scope.addArrtibute = function(key, editParam) {
			$scope.deleteSKU = {};$scope.haveSelectImages = {};$scope.extend_attr = {};var param = {};
			if(editParam == 0) {
				param = {};param["valid"] = "1";param["image_src"] = $scope._resource+'images/a10.jpg';
				if($scope.channel_config_key=='cuisine') {
					$scope.skuList = {1:{"cuisine_id":0,"cc_id":""}}
				}
				if($scope.channel_config_key=='table') {
					$scope.param.number_max = 4;
				}
			} else {
				param = angular.copy(editParam);
				if($scope.channel_config_key=='cuisineCategory') {
					var cuisine_category_id = param.cuisine_category_id, cuisine_name = '';
					for(var i in $scope.itemCategoryList) {//找出类别名字
						if($scope.itemCategoryList[i].cuisine_id == cuisine_category_id) {
						   cuisine_name = $scope.itemCategoryList[i].cuisine_name;
						}
					}
					$scope.select_cuisineCategory = {'cuisine_id':cuisine_category_id,'cuisine_name':cuisine_name};
				}
				if($scope.channel_config_key=='cuisine') {
					var select_SkuAttr = {};
					select_SkuAttr[1] = {'cn':param.sku_attr1,'en':''};
					select_SkuAttr[2] = {'cn':param.sku_attr2,'en':''};
					select_SkuAttr[3] = {'cn':param.sku_attr3,'en':''};
					$scope.select_SkuAttr = select_SkuAttr;
				}
			} 
			$scope.param = param;
            myArrtibute = $aside({scope : $scope, title: $scope.arrayChannel.channel_name+$scope.channel_config_name, content: 'My Content', placement : 'top', animation : 'am-fade-and-slide-top', backdrop : "static", container: 'body', templateUrl: __RESOURCE+'views/ChannelConfig/'+key+'.tpl.html'});
            myArrtibute.$promise.then(function() {
				myArrtibute.show();
				$scope.setImage();
				$(document).ready(function(){
					if(typeof(param.cuisine_id) != 'undefined' && $scope.channel_config_key=='cuisine') $('input[name="cuisine_id"]').val(param.cuisine_id);
				});
            })
		};
		$scope.config = function(key) {
			$httpService.header('method', key);
			if(key == 'room' || key == 'layout') {
				$scope.redirect('/app/Channel/'+$scope.channel_config_url+'&c_id='+$scope.channel_id+'&method='+key);
			} else {
				$scope.redirect('/app/ChannelConfig/'+$scope.arrayChannel.channel+'/'+$scope.this_config_url
							   +'&c_id='+$scope.channel_id+'&method='+key);
			}
			$httpService.deleteHeader('method');
		}
        //end commom 右边数据///////////////////////////////////////////////////////////////////////////////////
        <!--common 编辑-->
		var continue_find = true;
		$scope.editItem = function(cuisine) {
			var cuisine_id = cuisine.cuisine_id;
			$scope.addArrtibute($scope.channel_config_key, cuisine);
			//查找房型attr
			var arrt_param = '&cuisine_id='+cuisine_id
			if($scope.channel_config_key=='cuisineCategory') {
				arrt_param = '&cuisine_category_id='+cuisine_id
			}	
			var loading = $alert({content: 'loading... 80%', placement: 'top', type: 'info', templateUrl: '/loading.html', show: true});
			$httpService.header('method', 'attribute');
			var postParam = {};postParam.param = '';
			$httpService.post('app.do?channel='+$scope.channel_config_url+'&c_id='+$scope.channel_id+arrt_param, postParam, function(result){
				$httpService.deleteHeader('method');
				if(result.data.success == 1) {
					if(result.data.item != '') setAttribute(result.data.item);
				} 
				loading.hide();
			});
			//sku
			var skuList = $scope.itemList[cuisine_id];
			$scope.skuList = skuList;
		};
		$scope.selectSkuAttr = function($select, $attr, $index) {console.log($select);
			$scope.cuisineSkuAttrList[$index][0].cn = $select;
		}
		$scope.select_SkuAttr = {};
		$scope.changeSkuAttr = function($select, $attr, $index) {
			if($index == 1) $scope.select_SkuAttr[1] = angular.copy($select);
			if($index == 2) $scope.select_SkuAttr[2] = $select;
			if($index == 3) $scope.select_SkuAttr[3] = $select;
		}
		$scope.addSKUArrtibute = function() {//添加SKU
			var skuList = $scope.skuList, sku = {};
			for(var i in skuList) {
				sku = angular.copy(skuList[i]);
			}
			sku.cuisine_id = 0;sku.cc_id = '';sku.valid = 1;
			$scope.skuList[i+1] = sku;
		}
		$scope.deleteSKU = {};
		$scope.deleteSKUArrtibute = function($event, key) {
			var sku = $scope.skuList[key];
			if(sku.cuisine_id > 0 && sku.cc_id != '') {
				if($event.target.checked == true) {
					$scope.deleteSKU[sku.cc_id] = '+';
				} else {
					$scope.deleteSKU[sku.cc_id] = '-';
				}
			} else {
				delete $scope.skuList[key];
			}
		}
        <!--end common 编辑-->
        <!--common保存-->
		$scope.saveItem = function() {
			$scope.beginLoading =! $scope.beginLoading;
			var setItemForm = $.serializeFormat('#setItemForm');
			$scope.param = setItemForm;
			if($scope.channel_config_key=='cuisine') {
				$scope.param.deleteSKU = $scope.deleteSKU;
				$scope.param.select_SkuAttr = $scope.select_SkuAttr;
			}
			$httpService.header('method', 'save');
			if($scope.channel_config_key=='table') {
				$httpService.header('method', 'saveTable');
			}
			var loading = $alert({content: 'Saving... 80%', placement: 'top', type: 'info', templateUrl: '/loading.html', show: true});
			$httpService.post('app.do?channel='+$scope.channel_config_url+'&c_id='+$scope.channel_id, $scope, function(result){
				$scope.beginLoading =! $scope.beginLoading;
				$httpService.deleteHeader('method');
				if(result.data.success == 1) {
					myArrtibute.hide();
					//$scope.itemList[param.cuisine_id] = param;
				} 
				loading.hide();
			});
		};
        <!--end common保存-->
        <!--图片上传及操作-->
		//images
		var isSetImage = false;
		$scope.setImage = function() {
			//if(isSetImage) return;isSetImage = true;
			var uploadJsonUrl = 'app.do?channel='+$scope.imagesUploadUrl+'&channel_config='+$scope.channel_config_key;
			var fileManagerJsonUrl = 'app.do?channel='+$scope.imagesManagerUrl+'&channel_config='+$scope.channel_config_key;
			window.K = KindEditor;
			var editor = K.editor({
				uploadJson : uploadJsonUrl,
				fileManagerJson : fileManagerJsonUrl,
				allowFileManager : true
			});
			K('.set_image_src').click(function() {
				var isMain = $(this).attr('isMain');
				editor.loadPlugin('image', function() {
					editor.plugin.imageDialog({
						//imageUrl : K('#image_src').val(),
						clickFn : function(url, title, width, height, border, align) {
							editor.hideDialog();
							if(isMain == 1) {
								K('#image_src').val(url);
								$scope.setMainImages(url, title, width, height, border, align);
							} else {
								$scope.setSubImages(url, title);
							}
						}
					});
				});
			});
		}
		
		$scope.setMainImages = function (url, title, width, height, border, align) {
			$('#main_images').attr('src', url);
		}
		$scope.setSubImages = function (url, title) {
			if(title == '_del_images') {
				delete $scope.haveSelectImages[url];
			} else {
				$scope.haveSelectImages[url] = title;
			}
			$scope.$apply();
		}
        <!--图片上传及操作结束-->
		<!--属性编辑开始-->
		function setAttribute(arrayAttributeValue) {
			$scope.extend_attr = {};
			if(typeof(arrayAttributeValue['images']) != 'undefined') {
				var haveSelectImages = {};
				for(var i in arrayAttributeValue['images']) {
					haveSelectImages[arrayAttributeValue['images'][i]['cuisine_images_src']] = arrayAttributeValue['images'][i]['attr_value'];
				}
				$scope.haveSelectImages = haveSelectImages;
			}
			var extend_attr = {}, k = 0;
			if(typeof(arrayAttributeValue['attr_value']) != 'undefined') {
				$(document).ready(function(){
					for(var i in arrayAttributeValue['attr_value']) {
						var attributeValue = arrayAttributeValue['attr_value'][i];
						var attribute_id = attributeValue.attribute_id;
						var value = $.trim(attributeValue.attr_value);
						var attr_obj = $('.attr_value_'+attribute_id+'[value="'+value+'"]');
						var attr_type = attr_obj.attr('type');
						if(attr_type == 'checkbox' || attr_type == 'radio') {
							attr_obj.attr('checked', true);
						} else {
							if(typeof(arrayAttribute[attribute_id]) != 'undefined') {
								attr_type = arrayAttribute[attribute_id]['input_type'];
							}
							if(attr_type == 'extend_text') {
								if(typeof(extend_attr[attribute_id]) == 'undefined') extend_attr[attribute_id] = {};
								extend_attr[attribute_id][k] = attributeValue;k++;
							} else {
								$('.attr_value_'+attribute_id+'_0').val(value);
							}
						}
					}
					$scope.extend_attr = extend_attr; 
				});
			}
		}
		//
		$scope.attrExtend = function(attr_id) {
			//var attr_id = this.attr_id;
			var attr_count = $('.extend_text_'+attr_id).length;
			var html = '<label class="control-label checkbox-inline no-padding m-b-xs attr_extend">'
				+'<input class="form-control w-xxl" type="text" value="" name="attr_value['+attr_id+']['+attr_count+']"data-id="'+attr_count+'"></label>';
			$('#attr_extend').before(html);
		}
        <!--属性编辑结束-->
		//selectCategory
		$scope.selectCategory = function(selectCategory) {
			$scope.param.cuisine_category_id = selectCategory.cuisine_id;
			$scope.param.cuisine_category_name = selectCategory.cuisine_name;
		}
		//分页取出菜式
		/////////
		$scope.itemList = [];
		$scope.callServer = function callServer(tableState) {
			$scope.param = {};        
			$scope.param.tableState = tableState;
			$scope.loading.start();
			$httpService.post('/app.do?'+param+'&cuisinePagination=1', $scope, function(result){
				$scope.loading.percent();
				$scope.itemList = result.data.item.receivableData.data;
				tableState.pagination.numberOfPages = result.data.item.receivableData.numberOfPages;
			});
		};
		////分页取出table
		////////
		$scope.callTableServer = function callServer(tableState) {
			$scope.param = {};        
			$scope.param.tableState = tableState;
			$scope.loading.start();
			$httpService.post('/app.do?'+param+'&tablePagination=1', $scope, function(result){
				$scope.loading.percent();
				$scope.itemList = result.data.item.receivableData.data;
				tableState.pagination.numberOfPages = result.data.item.receivableData.numberOfPages;
			});
		};
	});
	//
</script>

