<div class="aside box-shadow h-10x col-sm-12 b-r box-shadow no-padding" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <form name="RestaurantBookEditForm" class="form-validation form-inline" id="thisForm" ng-submit="saveRestaurantBook();">
	  <div class="aside-body no-padding bg-light">
            <div class="p-xs">
				<div class="form-group m-b-xs">
					<div class="input-group">
						<div class="form-control no-padding no-border">
						<button type="button" class="btn btn-default" ng-model="param.booking_type" data-html="1" data-toggle="true" bs-options="type.booking_type as type.name for type in bookingTypeList" bs-select placeholder="<i class='icon fa fa-building text-lt'></i> 选择" ng-change="changeBookingType(param.booking_type)" style="z-index: 1000;">
							  Action <span class="caret"></span>
					    </button></div>
					  	<span class="input-group-addon no-radius no-border no-padding"></span>
						<input type="text" size="9" class="form-control check_in w-thumb-lg" name="check_in" ng-model="param.check_in" data-date-format="yyyy-MM-dd" data-date-type="string" data-start-view="0" data-min-view="0" data-autoclose="true" data-min-date="{{getBusinessDay('MM/dd/yyyy')}}" data-autoclose="1" bs-datepicker value="{{business_day}}" onkeypress="return false;">
						<span class="input-group-addon no-radius no-padding no-border"></span>
                    	<input type="text" size="6" class="form-control w-thumb-lg" name="in_time" ng-model="param.in_time" data-autoclose="1" data-time-format="HH:mm" placeholder="{{getDay('hh:mm')}}" value="{{getDay('hh:mm')}}" data-length="3" data-minute-step="15" data-timezone="UTC" bs-timepicker>
					</div>
				</div>
                <div class="form-group m-b-xs">
					<div class="input-group">
						<span style="z-index: 1000;" class="form-control no-padding no-border" ng-include="'/app/customerMarket.html'"></span>
						<span class="input-group-addon no-radius no-padding no-border"></span>
						<span class="form-control no-padding no-border" ng-if="market_father_id==6" style="z-index: 1000;">
							<ui-select ng-model="receivableSelected" ng-change="selectReceivable($select.selected)" theme="bootstrap">
								<ui-select-match placeholder="选择协议客源">{{$select.selected.receivable_name}}</ui-select-match>
								<ui-select-choices repeat="receivable in receivableList | filter: $select.search">
									<div ng-bind-html="receivable.receivable_name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</span>
						<div class="form-control no-padding no-border w-thumb-lg" ng-if="market_father_id==7||market_father_id==8">
						  <input type="text" class="form-control btn-default" id="booking_number_ext" name="booking_number_ext" ng-model="param.booking_number_ext" placeholder="OTA订单号" required>
						</div>
						<span class="input-group-addon no-radius no-padding no-border"></span>
						<input type="number" min="1" string-to-number size="5" class="form-control w" id="number_of_people" name="number_of_people" value="" ng-model="param.number_of_people" placeholder="人数" required >				
					</div>
				</div>
				<div class="form-group m-b-xs">
					<div class="input-group form-horizontal">
						<div class="form-control no-padding no-border has-feedback">
                  		<input type="text" size="10" class="form-control" id="member_name" name="member_name" ng-model="param.member_name" placeholder="{{customer_name}}" >
				  		<span class="glyphicon glyphicon-user form-control-feedback"></span>
					    </div>
						<span class="input-group-addon no-radius no-padding no-border"></span>
                      	<input type="text" size="10" class="form-control" id="mobile_email" name="mobile_email" ng-model="param.mobile_email" placeholder="手机/Email" >
					    <span class="input-group-btn">
						  <button class="btn btn-default" type="button" ng-click="searchMember('member')"><i class="fa fa-search"> </i> 会员</button>
					    </span>
                  </div>
				</div>
				<div class="form-group m-b-xs has-feedback">
                  <div class="input-group">
                      <input type="text" size="10" class="form-control btn-default" id="node" name="node" ng-model="param.node" placeholder="备注">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="submit" btn-loading-text="{{'common.hint.LOADING' | translate}}" trigger-loading="beginLoading"><i class="fa fa-save"> </i> 下单</button>
                      </span>
                  </div>
                </div>
            </div>
	  </div>
      <div class="aside-body no-padding bg-light b-t">
        <div class="tab-container" ng-init="activeBookEditTab=1">
            <!--<ul class="nav nav-tabs">
                <li ng-class="{active:activeBookEditTab==1}" ng-click="activeBookEditTab=1">
                    <a>开台管理</a>
                </li>
				<li ng-class="{active:activeBookEditTab==2}" ng-click="activeBookEditTab=2">
                    <a>操作日志</a>
                </li>
            </ul>-->
            <div class="tab-content no-padding">
                <div ng-show="activeBookEditTab==1" id="idTableBook">
					<script type="text/ng-template" id="/app/checkOutMenu.html">
                        <ul class="dropdown-menu">
                          <li><a href ng-click="bookingClose(bookDetail, 'part')"><i class="fas fa-coins"></i> 收款</a></li>
                          <li><a href ng-click="bookingClose(bookDetail, 'refund')"><i class="fas fa-coins"></i> 退款</a></li>
						  <li class="divider"></li>
						  <li><a href ng-click="bookingClose(bookDetail, 'escape')"><i class="fas fa-grimace"></i> 结账</a></li>
                          <li ng-if="bookDetail.receivable_id>0"><a href ng-click="bookingClose(bookDetail, 'hanging')"><i class="fas fa-tasks"></i> 挂账</a></li>
                          <li><a href ng-click="bookingClose(bookDetail, 'escape')"><i class="fas fa-grimace"></i> 走结</a></li>
                          <li class="divider"></li>
                          <li><a href ng-click="bookingClose(bookDetail, 'cancel')"><i class="fas fa-times"></i> 取消订单</a></li>
                        </ul>
                    </script>
					<div class="form-group m-b-xs has-feedback">
                  		<div class="input-group">
							<div class="btn-group m-xs">
								<div class="btn-group dropdown">
								  <button type="button" class="btn btn-sm btn-default" bs-dropdown="dropdown" data-animation="am-fade-and-slide-top"><i class="fas fa-cash-register"></i> 
									消费 <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu">
									  <li><a href ng-click="activeBookAccountsEditTab=1;bookingConsume('consume');"><i class="fas fa-yen-sign"></i> 消费</a></li>
									  <li><a href ng-click="activeBookAccountsEditTab=3;bookingConsume('borrowing');"><i class="fas fa-clipboard-list"></i> 借物</a></li>
								  </ul>
								</div>
								<div class="btn-group dropdown">
								  <button type="button" class="btn btn-sm btn-default" bs-dropdown="dropdown" data-animation="am-fade-and-slide-top" data-template-url="/app/checkOutMenu.html"><i class="fas fa-cash-register"></i> 
									账务 <span class="caret"></span>
								  </button>          
								</div>
								<label class="btn btn-sm btn-default" ng-class="{active:activeBookAccountsEditTab==1}" ng-click="activeBookAccountsEditTab=1"><i class="fas fa-pizza-slice"></i> 加/减菜</label>
								<label class="btn btn-sm btn-default" ng-class="{active:activeBookAccountsEditTab==2}" ng-click="activeBookAccountsEditTab=2"><i class="fas fa-user-plus"></i> 加/换台</label>
							</div>
						</div>
					</div>
					<div class="clear">
<!--餐桌 ---------------------------------------------->
<div class="col-sm-1 col-xs-3 p-xs">餐台/房间</div>
<div class="col-sm-11 col-xs-9 p-xs scroll-x">
	<div class="list-group no-radius">
		<div class="list-group-item col-sm-2 col-xs-6 no-padding" ng-repeat="(table_id, table) in haveBookTable">
		  <div class="clear btn btn-sm p-xs" ng-click="setThisTable(table_id)">
			<div class="text-left"><i class="fa fa-clipboard" ng-class="thisBookTable.item_id==table_id?'text-info':''"></i> {{table.item_name}}
				<span class="pull-right" ng-click="reduceBookTable(table)" ng-if="table.detail_id==0" title="删除"><a class="text-warning ti-trash"></a></span>
				<span class="pull-right" ng-click="changeBookTable(table, table.detail_id)" ng-if="table.detail_id>0" title="换桌"><a class="text-warning fas fa-exchange-alt"></a></span>
			</div>
		  </div>
		</div>
	</div> 
</div><!-- end 餐桌 ---------------------------------->
					</div>
					<div class="b-t clear">
						<div class="col-sm-1 col-xs-3 p-xs">已点菜品</div>
						<div class="col-sm-11 col-xs-9 p-xs scroll-x text-nowrap">
							<div class="list-group clearfix no-radius" ng-repeat="(table_id, tableCuisine) in haveBookCuisine">
								<div class="list-group-item col-sm-2 col-xs-6 p-xs" ng-repeat="(j, cuisine) in tableCuisine">
								  <!--<a href class="pull-left w-thumb m-r-xs"><img ng-src="{{cuisine.image_src}}" class="img-circle img-responsive"></a>-->
								    <div class="clear">
										<div>
											<span title="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name|limitTo:11}}</span>
											<span class="clear text-ellipsis small">
												<span class="label" ng-if="cuisine.sku_complete_dinner=='1'" data-html="true" data-placement="bottom" title="套菜" data-container="#idTableBook" data-template-url="/app/complete_dinner.html" data-trigger="hover" bs-popover>套<i class="fa fa-caret-down"></i></span>
												<span class="label label-xs" title="{{cuisine.sku_attr1}}" ng-if="cuisine.sku_attr1_value!=''">{{cuisine.sku_attr1_value}}</span> 
												<span class="label label-xs" title="{{cuisine.sku_attr2}}" ng-if="cuisine.sku_attr2_value!=''">{{cuisine.sku_attr2_value}}</span>
												<span class="label label-xs" title="{{cuisine.sku_attr3}}" ng-if="cuisine.sku_attr3_value!=''">{{cuisine.sku_attr3_value}}</span>　
											</span>
										</div>
								  		<div class="small">
											<del ng-if="cuisine.is_discount==true">￥{{cuisine.cuisine_price}}</del>
											<span ng-if="cuisine.is_discount==false">￥{{cuisine.cuisine_price}}</span>
											<a class="label label-sm bg-danger" ng-if="cuisine.is_discount==true" title="折扣" >折￥ {{cuisine.discount_price}}</a>
										</div> 
										<div>
											<small class="ti-server" title="库存">
										  		<span ng-if="cuisine.cuisine_inventory==-999">无限</span>
										  		<span ng-if="cuisine.cuisine_inventory==-9999">-</span>
										  		<span ng-if="cuisine.cuisine_inventory!=-999&&cuisine.cuisine_inventory!=-9999">{{cuisine.cuisine_inventory}}</span>
											</small>
								  			<span class="pull-right"><a class="text-color" ng-click="reduceBookCuisine(cuisine, table_id)"><i class="glyphicon glyphicon-minus-sign"></i></a>{{cuisine.bookNumber}}<a class="text-warning" ng-click="addBookCuisine(cuisine, table_id)"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
										</div>
									</div>
								</div>
							</div> 
						</div>
					</div>
					<div class="tab-container">
                        <div ng-show="activeBookAccountsEditTab==1"><!-- 餐台/房间 -->
						  <div class="box b-t" st-table="cuisineList" st-safe-src="rowCuisineList">
							  <div class="p-h b-b">
								  <div class="input-group col-sm-3 col-xs-12 m-t-xs m-b-xs">
									  <span class="input-group-addon no-radius">搜索菜名</span>
									  <input st-search="cuisine_name" class="form-control w" name="cuisine_name" id="cuisine_name" type="text" ng-model="cuisine_name" >
									  <span class="input-group-addon no-radius no-padding no-border"></span>
									  <select class="form-control" st-input-event="change" st-search="cuisine_category_id">
										  <option value="">全部类别</option>
										  <option value="1">早餐</option>
										  <option value="{{i}}" ng-repeat="(i, category) in cuisineCategory">{{category.cuisine_name}}</option>
									  </select>
								  </div>
							  </div>
							  <div class="box-row">
								  <div class="box-cell h-full">
									<div class="box-inner b-b">
									  <!-- detail -->
									  <div class="p tab-container clear">
										<div class="list-group no-radius text-nowrap">
											<div class="list-group-item col-sm-2 col-xs-6 p-xs" ng-repeat="(i, cuisine) in cuisineList">
											  <a href class="pull-left w-thumb m-r-xs"><img ng-src="{{cuisine.image_src}}" class="img-circle img-responsive"></a>
												
											  <div class="clear">
												  <div>
													  <span title="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name|limitTo:11}}</span>
													  <span class="clear text-ellipsis small">
														  <span class="label" ng-if="cuisine.sku_complete_dinner=='1'" data-html="true" data-placement="bottom" title="套菜" data-container="#idTableBook" data-template-url="/app/complete_dinner.html" data-trigger="hover" bs-popover>套<i class="fa fa-caret-down"></i></span>
														  <span class="label label-xs" title="{{cuisine.sku_attr1}}" ng-if="cuisine.sku_attr1_value!=''">{{cuisine.sku_attr1_value}}</span> 
														  <span class="label label-xs" title="{{cuisine.sku_attr2}}" ng-if="cuisine.sku_attr2_value!=''">{{cuisine.sku_attr2_value}}</span>
														  <span class="label label-xs" title="{{cuisine.sku_attr3}}" ng-if="cuisine.sku_attr3_value!=''">{{cuisine.sku_attr3_value}}</span>　
													  </span>
												  </div>
												  <div>
													  <small>￥{{cuisine.cuisine_price}}</small>
													  <a class="label label-xs bg-danger" ng-if="cuisine.discount!=''" data-html="true" data-placement="bottom" title="折扣" data-container="#idTableBook" data-template-url="/app/dscount_dinner.html" data-trigger="hover" bs-popover>折<i class="fa fa-caret-down"></i></a>
												  </div>
												  <div>
												  	  <small class="ti-server" title="库存">
													  <span ng-if="cuisine.cuisine_inventory==-999">无限</span>
													  <span ng-if="cuisine.cuisine_inventory==-9999">-</span>
													  <span ng-if="cuisine.cuisine_inventory!=-999&&cuisine.cuisine_inventory!=-9999">{{cuisine.cuisine_inventory}}</span></small>
													  <span class="pull-right"><a class="text-color" ng-click="reduceBookCuisine(cuisine, 0)" ng-if="thisBookCuisine[cuisine.cuisine_id]>0"><i class="glyphicon glyphicon-minus-sign"></i></a>{{thisBookCuisine[cuisine.cuisine_id]}}<a class="text-warning" ng-click="addBookCuisine(cuisine, 0)"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
												  </div>
											  </div>
											</div>
										</div>  
									  </div>  
									</div>
								  </div>
							  </div>
						  </div>
                        </div>
                        <div ng-show="activeBookAccountsEditTab==2"><!-- 餐桌 -->
                            <div class="box b-t">
								<div class="box-row">
								  <div class="box-cell h-full">
									<div class="box-inner">
									  <div class="buliding m-b p" ng-repeat="(buliding_key, buliding) in roomList">
											<div class="m-b-xs"><i class="fa fa-building text-xs"> {{buliding_key}}楼栋</i></div>
											<div class="floor clearfix" ng-repeat="(floor_key, floor) in buliding">
												<span class="badge badge-xs bg-success pos-rlt m-r-xs">{{floor_key}}楼层</span>
												<div class="list-group no-radius">
													<div class="list-group-item col-sm-2 col-xs-6 no-padding" ng-repeat="(i, room) in floor">
													  <div class="clear p-xs">
<!-- 桌态 -------------------------------------------->
<div><i class="fa fa-clipboard"></i> {{room.item_name}}
	<a ng-click="addBookTable(room)" class="pull-right text-warning" ng-if="!haveBookTable[room.item_id]"><i class="glyphicon glyphicon-plus-sign"></i></a>
	<small class="pull-right" ng-click="reduceBookTable(room)" ng-if="haveBookTable[room.item_id].item_id==room.item_id&&room.detail_id==0"><a class="text-warning ti-trash"></a></small>
	<span class="pull-right" ng-click="changeBookTable(table, room.detail_id)" ng-if="room.detail_id>0" title="换桌"><a class="text-warning fas fa-exchange-alt"></a></span>
</div><!-- end桌态 ----------------------------------->
													  </div>
													</div>
												</div> 
											</div>
										</div>
									  </div>
									 </div>
									</div>
								</div>
  							</div>
                        </div>
                    </div>
                </div>
				<div ng-show="activeBookEditTab==2">
					  <div class="table-responsive">
						<table class="table bg-white">
						  <thead>
							<tr>
							  <th class="w">标题</th>
							  <th>内容</th>
							  <th class="w">操作人</th>
							  <th class="w">时间</th>
							  <th></th>
							</tr>
						  </thead>
						  <tbody>
							<tr ng-repeat="(i, Operation) in bookingOperationList">
							  <td>{{Operation.operation_title}}</td>
							  <td>{{Operation.operation_content}}</td>
							  <td>{{Operation.employee_name}}</td>
							  <td class="text-nowrap">{{Operation.add_datetime}}</td>
							  <td>{{Operation.request}}</td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
                <div class="form-group"></div>
            </div>
        </div>
      </div>
      <div class="aside-footer panel-footer">
      	<input type="hidden" name="item_id" value="" ng-model="param.item_id" >
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!--
<div id="print_content">
    <div class="container-fluid">
        {{defaultHotel}}
        <hr>
        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td style="width: 135px;">打印时间</td>
                            <td class="print_date">{{getDay('yyyy-MM-dd hh:mm:ss')}}</td>
                            <td style="width: 135px;">订单号</td>
                            <td>{{bookDetail.booking_number}}</td>
                        </tr>
                                                        <tr>
                            <td>客人姓名</td>
                            <td class="contents">{{bookDetail.member_name}}</td>
                            <td>入住房间</td>
                            <td class="contents">102客房[102]</td>
                        </tr>
                                                        <tr>
                            <td>入住时间</td>
                            <td class="contents">{{bookDetail.check_in}}</td>
                            <td>退房时间</td>
                            <td class="contents">{{bookDetail.check_out}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="widget-box" ng-if="isConsumePrint==true">
            <br>消费项目
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 135px;">房号</th>
                      <th style="width: 135px;">项目</th>
                      <th style="width: 135px;">金额</th>
                      <th>时间</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="(detail_id, consumes) in consumePrint">
                    <tr ng-repeat="(i, consume) in consumes">
                        <td class="contents">{{consume.item_name==''?'未排房':consume.item_name}}</td>
                        <td class="contents">{{consume.consume_title}}</td>
                        <td class="contents">{{consume.consume_price_total}}</td>
                        <td class="contents">{{consume.add_datetime}}</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <th>合计</th>
                      <td></td><td></td><td></td>
                    </tr>
                  </tbody>
                </table>    
            </div>
        </div>
        <div class="widget-box" ng-if="isAccountPrint==true">
            <br>账务明细
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 135px;">房号</th>
                      <th style="width: 135px;">项目</th>
                      <th style="width: 135px;">金额</th>
                      <th>时间</th>  
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(i, account) in accountPrint">
                      <td class="contents">{{account.item_name==''?'未排房':account.item_name}}</td>
                      <td class="contents">{{account.accounts_type=='receipts'?'收款':account.accounts_type=='refund'?'退款':'挂账'}}</td>
                      <td class="contents">{{account.money}}</td>
                      <td class="contents">{{account.add_datetime}}</td>
                    </tr>
                    <tr>
                      <th>合计</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>    
            </div>
        </div>
        <div class="widget-box" ng-if="isBorrowingPrint==true">
            <br>借物
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 135px;">房号</th>
                      <th style="width: 160px;">物品</th>
                      <th style="width: 135px;">数量</th>
                      <th style="width: 135px;">押金</th>
                      <th>时间</th> 
                    </tr>
                  </thead>
                  <tbody ng-repeat="(detail_id, borrowings) in borrowingPrint">
                    <tr ng-repeat="(borrow_id, borrowing) in borrowings">
                      <td class="contents">{{borrowing.item_name==''?'未排房':borrowing.item_name}}</td>
                      <td class="contents">{{borrowing.borrowing_name}}</td>
                      <td class="contents">{{borrowing.borrowing_num}}</td>
                      <td class="contents">{{borrowing.cash_pledge}}</td>
                      <td class="contents">{{borrowing.add_datetime}}</td>
                    </tr>
                    <tr>
                      <th>合计</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>    
            </div>
        </div>
    </div>
</div>
-->

