<span ng-include="'/resource/views/Common/nav.tpl.html'"></span>
<div class="p-md" ng-controller="CustomerMarketController">
	<div class="box b-a bg-white m-b">
    	<div class="col-md-6">
      		<div class="panel-heading b-b b-light"><span class="no-margin" ng-bind-html="action_nav_name"></span> <a class="pull-right fa fa-plus" ng-click="addCustomerMarket(0)"> </a></div>
            <div class="p-md">
            <div class="table-responsive">
            <table class="table table-bordered table-striped bg-white">
              <thead>
                <tr>
                  <th>类别</th>
                  <th>类型</th>
                  <th class="no-padding panel">
                    <table class="table no-margin">
                        <tbody>
                            <tr>
                                <th class="col-md-5">中文名称</th>
                                <th class="col-md-4"></th>
                                <th class="col-md-2">有效</th>
                                <th class="col-md-1"></th>
                            </tr>
                        </tbody>
                    </table>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(i, data) in dataList">
                  <td class="text-nowrap">{{data.market_name}}</td>
                  <td class="text-nowrap"><span ng-if="data.marketing==1">直销</span><span ng-if="data.marketing==2">分销</span><span ng-if="data.marketing==3">OTA</span><span ng-if="data.marketing==0">其它</span></td>
                  <td class="no-padding panel">
                    <table class="table no-margin">
                        <tbody>
                            <tr ng-repeat="(children_id, children) in data.children">
                                <td class="col-md-5">{{children.market_name}}</td>
                                <td class="col-md-4">{{children.market_en_name}}<span ng-if="children.market_en_name==''">　</span> </td>
                                <td class="col-md-2">
                                	<i ng-if="children.valid==1" class="fa fa-dot-circle-o text-success"></i>
                                	<i ng-if="children.valid==0" class="fa fa-ban text-warning"></i>
                                </td>
                                <td class="col-md-1">
                                	<a class="pull-right" ng-click="addCustomerMarket(children)" ng-if="children.company_id>0"><i class="fa fa-edit"></i></a>
                                    <span class="pull-right" ng-if="children.company_id==0">　</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            </div>
        
     	</div>
     	<div class="col-md-6 b-l no-border-sm">
     		<div class="panel-heading b-b b-light"> 会员设置</div>
            <div class="list-group no-border no-radius">
                <div class="list-group-item">
                  <span class="pull-right"> </span>
                  <i class="fa fa-fw fa-circle text-info"></i>
                   
                </div>
             </div>
             <div class="panel-heading b-b b-light"> 协议客源 <a class="pull-right fa fa-plus" ng-click="addReceivable(0)"> </a></div>
             <div class="list-group no-border no-radius">
                <!----- ------>
                 <div class="panel panel-default no-border">
                    <div class="panel-heading">Client side Pagination</div>
                    <div class="panel-body">
                      <form>
                        <label>items by page</label>
                        <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
                      </form>
                    </div>
                    <table st-table="rowCollectionPage" class="table table-striped">
                      <thead>
                        <tr>
                          <th st-sort="firstName">first name</th>
                          <th st-sort="lastName">last name</th>
                          <th st-sort="birthDate">birth date</th>
                          <th st-sort="balance">balance</th>
                          <th>email</th>
                        </tr>
                        <tr>
                          <th>
                            <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
                          </th>
                          <th colspan="4">
                            <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="row in rowCollectionPage">
                          <td>{{row.firstName | uppercase}}</td>
                          <td>{{row.lastName}}</td>
                          <td>{{row.birthDate | date}}</td>
                          <td>{{row.balance | currency}}</td>
                          <td><a ng-href="mailto:{{row.email}}">email</a></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                <!----- ------>
             </div>
     	</div>
     </div>
</div>
<script language="javascript">
app.controller('CustomerMarketController', function($rootScope, $scope, $httpService, $location, $translate, $aside, $alert) {
	//获取数据
	var _channel = $scope.$stateParams.channel;
	var _view = $scope.$stateParams.view,common = '';
	var param = 'channel='+_channel+'&view='+_view;
	$scope.loading.show();
	$httpService.post('/app.do?'+param, $scope, function(result){
		$scope.loading.hide();
		if(result.data.success == '0') {
			var message = $scope.getErrorByCode(result.data.code);
			$alert({title: 'Error', content: message, templateUrl: '/modal-warning.html', show: true});
		}
		common = result.data.common;
		$scope.setCommonSetting(common);
		var dataList = result.data.item;
		$scope.dataList = dataList;
		if(angular.isDefined($scope.dataList)) {
			var keyData = []; var i = 0;
			for(var data_id in dataList) {
				keyData[i] = {};
				keyData[i]['value'] = dataList[data_id].market_name;
				keyData[i]['value_en'] = dataList[data_id].market_en_name;
				keyData[i]['value_id'] = dataList[data_id].market_id;
				keyData[i]['label'] = dataList[data_id].market_id;
				keyData[i]['marketing'] = dataList[data_id].marketing;
				i++;
			}
			$scope.keyData = keyData;
            $scope.receivableData = {};var receivableData = [], i = 0;
            for(var key in $scope.dataList[6].children) {
                receivableData[i] = $scope.dataList[6].children[key]; i++;
            }
            $scope.receivableData = receivableData;
            var receivableType = [{'id':'personal','value':'个人'},{'id':'company','value':'公司'},{'id':'OTA','value':'OTA'}];
            $scope.receivableType = receivableType;
		}
	});
	//
	var asideCustomerMarket = '';
	$scope.addCustomerMarket = function(_this) {
		$scope.param = {}; $scope.param["valid"] = "1";
		if(_this != 0) $scope.param = _this;
		$scope.action = '添加/编辑';
		asideCustomerMarket = $aside({scope : $scope, title: $scope.action_nav_name, placement:'top',animation:'am-fade-and-slide-top',backdrop:"static",container:'body', templateUrl: '/resource/views/Setting/CustomerMarketAddEdit.tpl.html'});
		asideCustomerMarket.$promise.then(function() {
			asideCustomerMarket.show();
			$(document).ready(function(){
				
			});
		})
		
	};
	$scope.saveData = function() {
		var param = this.param;
		if(param == null || param == '' || !angular.isDefined(param.market_father_id)) {
			$alert({title: 'Notice', content: '类型必须选择！', templateUrl: '/modal-warning.html', show: true});
			return;
		}
		$scope.loading.show();
		var market = $scope.dataList[param['market_father_id']];
		param['marketing'] = market['marketing'];
		$scope.param = param;
		$httpService.post('/app.do?channel='+common.saveAddEditUrl, $scope, function(result){
			$scope.loading.hide();
			$scope.dataList = result.data.item;
			asideCustomerMarket.hide();
			
		});
	}
    //
    //
    var asideReceivable = '';
	$scope.addReceivable = function(_this) {
		$scope.param = {}; $scope.param["valid"] = "1";
		if(_this != 0) $scope.param = _this;
		$scope.action = '添加/编辑';
		asideReceivable = $aside({scope : $scope, title: $scope.action_nav_name, placement:'top',animation:'am-fade-and-slide-top',backdrop:"static",container:'body', templateUrl: '/resource/views/Setting/CustomerMarketReceivableAddEdit.tpl.html'});
		asideReceivable.$promise.then(function() {
			asideReceivable.show();
			$(document).ready(function(){
				
			});
		})
		
	};
	$scope.saveReceivableData = function() {
		var param = this.param;
		if(param == null || param == '' || !angular.isDefined(param.market_id)) {
			$alert({title: 'Notice', content: '协议客源必须选择！', templateUrl: '/modal-warning.html', show: true});
			return;
		}
        if(!angular.isDefined(param.receivable_type)) {
			$alert({title: 'Notice', content: '类型必须选择！', templateUrl: '/modal-warning.html', show: true});
			return;
		}
		$scope.loading.show();
		$scope.param = param;
        $scope.beginLoading =! $scope.beginLoading;
        $httpService.header('method', 'Receivable');
		$httpService.post('/app.do?channel='+common.saveAddEditUrl, $scope, function(result){
            $scope.beginLoading =! $scope.beginLoading;
            $httpService.deleteHeader('method');
			$scope.loading.hide();
			$scope.dataList = result.data.item;
			asideCustomerMarket.hide();
			
		});
	}
    //
    var firstnames = ['Laurent', 'Blandine', 'Olivier', 'Max'];
  var lastnames = ['Renard', 'Faivre', 'Frere', 'Eponge'];
  var dates = ['1987-05-21', '1987-04-25', '1955-08-27', '1966-06-06'];
  var id = 1;

  function generateRandomItem(id) {

      var firstname = firstnames[Math.floor(Math.random() * 3)];
      var lastname = lastnames[Math.floor(Math.random() * 3)];
      var birthdate = dates[Math.floor(Math.random() * 3)];
      var balance = Math.floor(Math.random() * 2000);

      return {
          id: id,
          firstName: firstname,
          lastName: lastname,
          birthDate: new Date(birthdate),
          balance: balance
      }
  }
      //  pagination
    $scope.itemsByPage=10;

    $scope.rowCollectionPage = [];
        for (var j = 0; j < 200; j++) {
        $scope.rowCollectionPage.push(generateRandomItem(j));
    }

    // pip
    var promise = null;
    $scope.isLoading = false;
    $scope.rowCollectionPip = [];
    $scope.getPage = function() {
        $scope.rowCollectionPip=[];
        for (var j = 0; j < 20; j++) {
          $scope.rowCollectionPip.push(generateRandomItem(j));
        }
    }

    $scope.callServer = function getData(tableState) {
        //here you could create a query string from tableState
        //fake ajax call
        $scope.isLoading = true;

        $timeout(function () {
        $scope.getPage();
        $scope.isLoading = false;
        }, 2000);
    };

    $scope.getPage();
	$httpService.deleteHeader('refresh');
});

</script>
