<span ng-include="'/resource/views/Common/nav.tpl.html'"></span>
<div class="p-md" ng-controller="MarketCommissionController">
	<div class="box b-a bg-white m-b">
    	<div class="col-md-8">
      		<div class="panel-heading b-b b-light">
                <button type="button" class="btn btn-default" ng-model="param.channel_id" data-html="1" data-toggle="true" bs-options="channel.channel_id as channel.channel_name for channel in thisChannel" bs-select placeholder="<i class='icon fa fa-building text-lt'></i> 选择酒店">
                  Action <span class="caret"></span>
                </button>
                <a class="pull-right fa fa-plus" ng-click="addMarketCommission(0)"> </a>
            </div>
            <div class="p-md">
            <div class="table-responsive">
            <table class="table table-bordered table-striped bg-white">
              <thead>
                <tr>
                  <th>客源市场</th>
                  <th>价格类型</th>
                  <th class="no-padding panel">
                    <table class="table no-margin">
                        <tbody>
                            <tr>
                                <th class="col-md-5">佣金类型</th>
                                <th class="col-md-4">佣金形式</th>
                                <th class="col-md-2">佣金</th>
                                <th class="col-md-1">有效</th>
                            </tr>
                        </tbody>
                    </table>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(i, data) in dataList">
                  <td class="text-nowrap">{{data.market_name}}</td>
                  <td class="text-nowrap"><span ng-if="data.marketing==1">直销</span><span ng-if="data.marketing==2">分销</span><span ng-if="data.marketing==3">OTA</span><span ng-if="data.marketing==0">其它</span></td>
                  <td class="no-padding panel">
                    <table class="table no-margin">
                        <tbody>
                            <tr ng-repeat="(children_id, children) in data.children">
                                <td class="col-md-5">{{children.market_name}}</td>
                                <td class="col-md-4">{{children.market_en_name}}<span ng-if="children.market_en_name==''">　</span> </td>
                                <td class="col-md-2">
                                	<i ng-if="children.valid==1" class="fa fa-dot-circle-o text-success"></i>
                                	<i ng-if="children.valid==0" class="fa fa-ban text-warning"></i>
                                </td>
                                <td class="col-md-1">
                                	<a class="pull-right" ng-click="addCustomerMarket(children)" ng-if="children.company_id>0"><i class="fa fa-edit"></i></a>
                                    <span class="pull-right" ng-if="children.company_id==0">　</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            </div>
        
     	</div>
     	<div class="col-md-4 b-l no-border-sm">
     		<div class="panel-heading b-b b-light"> 会员设置</div>
            <div class="list-group no-border no-radius">
                <div class="list-group-item">
                  <span class="pull-right">293,200</span>
                  <i class="fa fa-fw fa-circle text-info"></i>
                  Vatican City
                </div>
             </div>
             <div class="panel-heading b-b b-light"> 协议客源</div>
             <div class="list-group no-border no-radius">
                <div class="list-group-item">
                  <span class="pull-right">293,200</span>
                  <i class="fa fa-fw fa-circle text-info"></i>
                  Vatican City
                </div>
             </div>
             <div class="panel-heading b-b b-light"> 佣金设置</div>
             <div class="list-group no-border no-radius">
                <div class="list-group-item">
                  <span class="pull-right">293,200</span>
                  <i class="fa fa-fw fa-circle text-info"></i>
                  Vatican City
                </div>
             </div>
     	</div>
     </div>
</div>
<script language="javascript">
app.controller('MarketCommissionController', function($rootScope, $scope, $httpService, $location, $translate, $aside, $alert) {
	//获取数据
	var _channel = $scope.$stateParams.channel;
	var _view = $scope.$stateParams.view,common = '';
	var param = 'channel='+_channel+'&view='+_view;
	$scope.loading.show();
	$httpService.post('/app.do?'+param, $scope, function(result){
		$scope.loading.hide();
		if(result.data.success == '0') {
			var message = $scope.getErrorByCode(result.data.code);
			$alert({title: 'Error', content: message, templateUrl: '/modal-warning.html', show: true});
		}
		common = result.data.common;
		$scope.setCommonSetting(common);
        $scope.setThisChannel('Hotel');
		$scope.marketList = result.data.item.marketList;

	});
	//
	var asideMarketCommission = '';
	$scope.addMarketCommission = function(_this) {
		$scope.param = {}; $scope.param["valid"] = "1";
		if(_this != 0) $scope.param = _this;
		$scope.action = '添加/编辑';
		asideMarketCommission = $aside({scope : $scope, title: $scope.action_nav_name, placement:'top',animation:'am-fade-and-slide-top',backdrop:"static",container:'#MainController', templateUrl: '/resource/views/Setting/MarketCommissionAddEdit.tpl.html'});
		asideMarketCommission.$promise.then(function() {
			asideMarketCommission.show();
			$(document).ready(function(){
				
			});
		})
		
	};
	$scope.saveData = function() {
		var param = this.param;
		if(param == null || param == '' || !angular.isDefined(param.market_father_id)) {
			$alert({title: 'Notice', content: '类型必须选择！', templateUrl: '/modal-warning.html', show: true});
			return;
		}
		$scope.loading.show();
		var market = $scope.dataList[param['market_father_id']];
		param['marketing'] = market['marketing'];
		$scope.param = param;
		$httpService.post('/app.do?channel='+common.saveAddEditUrl, $scope, function(result){
			$scope.loading.hide();
			$scope.dataList = result.data.item;
			asideCustomerMarket.hide();
			
		});
	}
	$httpService.deleteHeader('refresh');
});

</script>
